<div class="sidebar-inner c-overflow" ng-controller="sidebarCtrl">    
    <ul class="main-menu">
        <li data-ng-class="{'active toggled':mactrl.$state.includes('pages.admin')}" ng-show="type=='0'">
            <a ui-sref="pages.admin.view">
            <i class="zmdi zmdi-account-circle zmdi-hc-fw"></i> Admins
            </a>
        </li>
        <li data-ng-class="{'active toggled':mactrl.$state.includes('pages.usergroups')}" ng-show="type=='0'">
            <a data-ui-sref="pages.usergroups.view">
            <i class="zmdi zmdi-accounts-alt zmdi-hc-fw"></i> User Groups
            </a>
        </li>
        <li data-ng-class="{'active toggled':mactrl.$state.includes('pages.users')}" ng-show="type=='1'">
            <a data-ui-sref="pages.users.view"><i class="zmdi zmdi-account-box-o zmdi-hc-fw"></i> Users</a>
        </li>
        <li data-ng-class="{'active toggled':mactrl.$state.includes('pages.formsz')}" ng-show="type=='1'">
            <a data-ui-sref="pages.formsz.get">
            <i class="zmdi zmdi-collection-text zmdi-hc-fw"></i>
            <span class="title">Formsz</span>
            <span class="selected"></span>
        </a>
        </li>
        <li data-ui-sref-active="active" ng-show="type=='0'">
            <a data-ui-sref="pages.template.get"><i class="zmdi zmdi-folder-star"></i> Templates</a>
        </li>
        <li data-ui-sref-active="active" ng-show="type=='1'">
            <a data-ui-sref="pages.template.forAdmins"><i class="zmdi zmdi-folder-star"></i> Templates</a>
        </li>
        <li data-ng-class="{'active toggled':mactrl.$state.includes('pages.formsz')}" ng-show="type=='2'">
            <a data-ui-sref="pages.formsz.get">
            <i class="zmdi zmdi-file-text zmdi-hc-fw"></i>
            <span class="title">Formsz</span>
            <span class="selected"></span>
        </a>
        </li>
    </ul>
</div>