md-card md-card-header{
	background-color: #eee;
}
md-toolbar:not(.md-menu-toolbar) {
	background-color: #607d8b;
}


html:not(.ie9) .select:not(.fg-line)::before {
    right: 0px;
}

html:not(.ie9) .select::before {
    position: absolute;
    top: -1px;
    content: "";
    height: calc(100% - 1px);
    width: 30px;
    background-color: rgb(255, 255, 255);
    background-image: url("../../images/select.png");
    pointer-events: none;
    z-index: 5;
    background-position: 100% calc(100% - 7px);
    background-repeat: no-repeat;
}

::before, ::after {
    box-sizing: border-box;
}

.widget_Card {
    border:1px solid #9e9e9e;
}

.widget_Group {
    border:1px solid #E5E5E5;
}

.tablet-preview{
    background:none;
    margin-left:40px;
}
.tablet-container{
    background:url(../../images/android-tab-800-hr.png) no-repeat;
    padding:65px 0px;
}
.tablet-content{
    width: 660px;
    margin-left: 65px;
    background:#FFF;
    height:388px;
    overflow-y:scroll;
}

.thumbnail_Img img{
height:50px;
width:60px;
-moz-transition:-moz-transform 0.5s ease-in; 
-webkit-transition:-webkit-transform 0.5s ease-in; 
-o-transition:-o-transform 0.5s ease-in;
}
/*.thumbnail_Img img:hover{
border:1px solid rgba(140, 132, 131, 0.26);
-moz-transform:scale(4); 
-webkit-transform:scale(4);
-o-transform:scale(4);
}*/
.image-wrapper {
    text-align: center;
}

.loader{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index: 99999;
  background-color:#A0A0A0;
  opacity: .5;
}
.loader:after, body#main:after{
  position: fixed;
  top: 50%;
  left: 50%;
  content: '';
  background-image: url("../../images/loading-spinner-default.gif");  
  background-repeat: no-repeat;
  background-position: center  center;
  height: 50px;
  width: 150px;
  margin: -35px 0 0 -35px;
}

#cursorList{
  cursor:pointer;
}
.record-bgcolor{
  background: #CEF6F5;
}

.myGrid {
    width: auto;
    height: 250px;
  }

.user-image {
    float: left;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
}

.user-image.user-image-circle img {
    border-radius: 23px;
    width: 46px;
    height: 46px;
}

.user-title {
    position: relative;
    max-width: 80%;
    font-size: 16px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin: 0 0 15px;
    padding: 0 0 2px;
}
.user-title > small {
    display: block;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel .useraction {
    position: absolute;
    opacity: 0;
    width: auto;
    text-align: left;
    padding-left: 10px;
    top: 65px;
    transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.panel:hover .useraction {
  opacity: 1;
  transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.panel .useraction a:hover {
  text-decoration: none;
}

