.submitForm {
  background: #ffffff;
  margin: auto;
  position: relative;
  width: 100%;
  font-weight: bold;
  color: #09C;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.formWidget{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 3%;
}
.widgetColor{
  color: #4080bf;
}
#form-main {
  min-height: 500px;
  position: relative;
}

#form-main .form-overview {
  overflow-y: auto;
}
.panel{
  border: 1px dashed #dddddd;
}
.panel-body {
  padding: 0px !important;
}

html:not(.ie9) .select:not(.fg-line)::before {
    right: 0px;
}

html:not(.ie9) .select::before {
    position: absolute;
    top: -1px;
    content: "";
    height: calc(100% - 1px);
    width: 30px;
    background-color: rgb(255, 255, 255);
    background-image: url("../images/select.png");
    pointer-events: none;
    z-index: 5;
    background-position: 100% calc(100% - 7px);
    background-repeat: no-repeat;
}

::before, ::after {
    box-sizing: border-box;
}
@media (min-width: 1200px) {
  #form-main .form-overview {
    width: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #form-main .form-overview {
    width: 250px;
  }
}

@media (min-width: 768px) {
  #form-main .form-overview {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #FAFEFF;
    border-right: 1px solid #eee;
  }
}

@media (max-width: 767px) {
  #form-main .form-overview {
    width: 100%;
    /*background: #333;*/
    text-align: center;
  }
}

@media (min-width: 1200px) {
  #form-main .form-body {
    padding-left: 300px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  #form-main .form-body {
    padding-left: 250px;
  }
}

@media (max-width: 767px) {
  #form-main .form-body {
    padding-left: 0;
  }
}

#form-main .widgets-block {
  padding: 5px;
}

#form-main .widgets-block > h2 {
  font-size: 16px;
  margin: 0 0 15px;
}
