<form class="form-horizontal" name="changeAdminPwdForm" role="form" ng-submit="newPassword(adminChangePwd,changeAdminPwdForm.$valid)"  data-ng-model="adminChangePwd" novalidate>
    <div class="card-header">
        <button type="button" class="close" ng-click="dialogClose()" ><span aria-hidden="true">&times;</span></button>
        <h2 class="c-blue">Change Password</h2>
    </div>

    <div class="card-body card-padding m-t-15">

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label">Current Password</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="password" class="form-control input-sm" name="oldPwd" data-ng-model="adminChangePwd.cpswd" required>
                </div>
                <small class="help-block" ng-show="changeAdminPwdForm.oldPwd.$error.required && changeAdminPwdForm.oldPwd.$dirty">Current password is required.</small>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label">New password </label>
            <div class="col-sm-6">
                <div class="fg-line">
                  <input type="password" class="form-control input-sm" name="newPwd" data-ng-model="adminChangePwd.newpwd" required>
                </div>
                <small class="help-block" ng-show="changeAdminPwdForm.newPwd.$dirty && changeAdminPwdForm.newPwd.$error.required">New password is required.</small>
            </div>
        </div>
        
        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label">Retype NewPassword </label>
            <div class="col-sm-6">
                <div class="fg-line">
                  <input type="password" class="form-control input-sm" name="retypePwd" data-ng-model="adminChangePwd.rtnewpwd" required nx-equal-ex="adminChangePwd.newpwd">
                </div>
                <small class="help-block" ng-show="changeAdminPwdForm.retypePwd.$error.required && changeAdminPwdForm.retypePwd.$dirty">Re-type New Password is required.</small>

                <!-- Error if pwd dont match! -->
                <small class="help-block" ng-show="changeAdminPwdForm.retypePwd.$error.nxEqualEx"> Passwords fields are not equal!.</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-disabled="!changeAdminPwdForm.$dirty" type="submit" ng-click="submited = true">Change</button>
                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="dialogClose()">Cancel</button>
            </div>
        </div>
        
    </div>
</form>
