
<form class="form-horizontal" role="form" ng-submit="saveBarcodePro(tbWidgetProp)">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{lableName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="tbWidgetProp.lable">
                </div>
            </div>
        </div>
        
        <div class="col-sm-offset-3 col-sm-10">
        <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
            <input type="checkbox" ng-model="tbWidgetProp.required"/>
            <i class="input-helper"></i>
            {{requiredName}}
        </label>
        </div>
       
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn bgm-green btn-xs waves-effect" ng-click="saveBarcodePro(tbWidgetProp)">Save</button>
                 <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="widgetPropertiesWindowClose()">Cancel</button>
            </div>
        </div>

</form>
