
<form class="form-horizontal" role="form" ng-submit="saveTextBoxPro(imageWidgetProp)">
        <div class="form-group">
            <label class="col-sm-3 control-label">Label</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="imageWidgetProp.lable">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Image size</label>
            <div class="col-sm-4">
                <div class="fg-line" >
                    <input type="text" class="form-control input-sm" ng-model="imageWidgetProp.imageSize">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="fg-line" >
                    <md-select name="sizee" ng-model="imageWidgetProp.imageSizeParameter" required>
                        <md-option value="KB">KB</md-option>
                        <md-option value="MB">MB</md-option>
                    </md-select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="imageWidgetProp.required">
                        <i class="input-helper"></i>
                        Required
                    </label>
                </div>
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn bgm-green btn-xs waves-effect" ng-click="saveImagePro(imageWidgetProp)">Save</button>
                 <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="widgetPropertiesWindowClose()">Cancel</button>
            </div>
        </div>
</form>
