<div class="card">
    <form class="form-horizontal"  name= "commentOnRecord" ng-submit="commentRecord(commentOnRecord.$valid)" novalidate>
        <div class="card-header">
           <h2>Reason For Reassign </h2>
        </div>
         <div class="card-body card-padding" >
         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Description <span style="color:red">*</span></label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <textarea rows="3" class="form-control" name="comment" data-ng-model="commentRecords" required></textarea>
                </div>
                <small class="help-block" ng-show="commentOnRecord.comment.$error.required &&commentOnRecord.comment.$dirty">Description  is required</small>
            </div>
        </div>
        <div class="form-group" >
        <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-primary btn-xs waves-effect" ng-disabled="!commentOnRecord.$dirty">submit</button>
                <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="cancel()" >Cancel</button>
            </div>
        </div>
        </div>
        </form>
        </div>
