<form class="form-horizontal" role="form" ng-submit="goToFormBuildArea(formCreation,createForm.$valid)" name="createForm" novalidate>
    <div class="card-header">
        <button type="button" class="close" ng-click="close()" ><span aria-hidden="true">&times;</span></button>

        <h2 class="c-blue" ng-if="typeOfFormSave =='New'">Form Creation</h2>
        <h2 class="c-blue" ng-if="typeOfFormSave =='Edit'">Form Updation</h2>
    </div>

    <div class="card-body card-padding">

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label">Form Name <span style="color:red">*</span></label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" name="formName" class="form-control input-sm" ng-model="formCreation.formName" ng-readonly="typeOfFormSave =='Edit'" required>
                </div>
                <small class ="help-block" ng-show="createForm.formName.$error.required && createForm.formName.$dirty">This field is required</small>
                
                <small class ="help-block" ng-show="isFromExist && createForm.formName.$dirty">
                    Form name already in use
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Owner Mail Id</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="mail" class="form-control input-sm" ng-model="formCreation.mailId" readonly="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Owner Name </label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="mail" class="form-control input-sm" ng-model="formCreation.name" readonly="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Owner Group Name </label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="mail" class="form-control input-sm" ng-model="formCreation.group" readonly="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Alternative Mail Id</label>
            <div class="col-sm-6">
                <div class="fg-line">

                    <input type="mail" class="form-control input-sm" ng-model="formCreation.alternateMailid" >
                </div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label" for="singleSelect">Form Type
                <span style="color:red">*</span>
            </label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <div class="select">
                        <select class="form-control w-100"    name="singleSelect" id="singleSelect" ng-model="formCreation.formType" ng-change="itemChenged(formCreation.formType)" required>
                            <option value="">---Please select---</option>
                            <option value="Public">Public</option> 
                            <option value="Private">Private</option>
                            <option value="General">General</option>
                        </select>
                    </div>
                </div>
            
                <small class ="help-block" ng-show="createForm.singleSelect.$error.required && createForm.singleSelect.$dirty">This field is required</small>
            </div>
        </div>

        <div class="form-group" ng-show="isPrivateSelect">
            <label class="col-sm-4 control-label" >Users</label>
            <div class="col-sm-6">
            <div class="fg-line">
                 <multiselect-dropdown model=" SelectedUsers " options="usersListForMap "></multiselect-dropdown>
            </div>
            
            <b data-ng-repeat="country in SelectedUsers">
            {{country.name}}{{$last ? '' : ', '}}
            
            </b>
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button  type="submit" class="btn bgm-green btn-xs waves-effect">Go</button>
                <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="close()"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
            </div>
        </div>
    </div>
    
</form>
