<div class="card">
  <form class="form-horizontal" role="form" name="adminCreation" ng-submit="createAdmin(adminInfo,adminCreation.$valid)" novalidate>
    <div class="card-header">
      <h2>Create Admin</h2>
    </div>
    <div class="card-body card-padding">
      <div class="form-group" show-errors>
        <label class="col-sm-3 control-label">Username <span style="color:red">*</span></label>
        <div class="col-sm-6">
            <div class="fg-line">
              <input type="text" class="form-control input-sm" name="username" data-ng-model="adminInfo.username" capitalize-first required/>
            </div>
            <small class="help-block" ng-show="adminCreation.username.$error.required && adminCreation.username.$dirty">Username is required.</small>
        </div>
      </div>
         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Name <span style="color:red">*</span></label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <input type="text" class="form-control input-sm" name="name" data-ng-model="adminInfo.name" required/>
               </div>
               <small class="help-block" ng-show="adminCreation.name.$error.required && adminCreation.name.$dirty">Name is required.</small>
            </div>
         </div>
         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Email <span style="color:red">*</span></label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <input type="email" class="form-control input-sm" name="email" data-ng-model="adminInfo.email" required/>
               </div>

               <small class="help-block" ng-show="adminCreation.email.$error.required && adminCreation.email.$dirty">Email is required.</small>

               <small class="help-block" ng-show="adminCreation.email.$error.email">Invalid Email.
               </small>
            </div>
         </div>

         <div class="form-group">
            <label class="col-sm-3 control-label">Select Group</label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <div class="select">
                     <select class="form-control w-100" ng-model='adminInfo.groupList' ng-options='group for group in GroupList' ng-disabled="Groupdropdown">
                         <option value="">{{optionMessage}}</option>
                     </select>
                  </div>
               </div>
            </div>
         </div>

         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Phone <span style="color:red">*</span></label>
            <div class="col-sm-6">
               <div class="fg-line">

               <input type="text" name="contact"
                    ng-minlength="5"
                    maxlength="10"
                    ng-pattern="phoneValidation"
                    class="form-control input-sm"
                    required
                    ng-model="adminInfo.phone"
                    numbers-only
                    />
               </div>
               <small class="help-block" ng-show="adminCreation.contact.$error.required && adminCreation.contact.$dirty">Phone number is required</small>

               <small class="help-block" ng-show="adminCreation.contact.$error.minlength">Phone number is too short</small>
            </div>
         </div>

        <div class="form-group" >
          <label class="control-label col-md-3">Select Image</label>
            <div class="col-md-4">
              <div style="width: auto;background-color:#eee;height:auto;min-height:200px; border:1px solid #cccccc;" class="thumbnail">
              <img  ng-if="updateImage" ng-src="{{updateImage}}" err-src="{{errSrc}}" />
              </div>
              <input id="userUpload" ng-model="filename" ng-files="getuploadImages($files)" name="fileUpload"  type="file" accept="image"/>
              <button ng-disabled="isClearImg" class="btn btn-link btn-xs waves-effect m-t-10" type="button" ng-click="clearImg($files)"><i class="zmdi zmdi-close zmdi-hc-fw"></i> clear image</button>
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-disabled="!adminCreation.$dirty"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Create</button>
            <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="cancel()" data-ui-sref="pages.admin.view"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
          </div>
        </div>

      </div>
   </form>
</div>