
<form class="form-horizontal" role="form" ng-submit="createFromFromTemplate(formCreation,createForm.$valid)" name="createForm" novalidate>
    <div class="card-header">
        <button type="button" class="close" ng-click="cancel()" ><span aria-hidden="true">&times;</span></button>
        <h2 class="c-blue">Create Form from <span style="color:red">{{templateName}} </span>Template</h2>
    </div>

    <div class="card-body card-padding">

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label">Form Name</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" name="formName" class="form-control input-sm" ng-model="formCreation.formName" focus-me="true" required>
                </div>
                <small class ="help-block" ng-show="createForm.formName.$error.required && createForm.formName.$dirty">This field is required</small>

                <small class ="help-block" ng-show="isFromExist">
                    This name is already in use!
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Owner Mail Id</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="mail" class="form-control input-sm" ng-model="formCreation.mailId" readonly="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Owner Name </label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="mail" class="form-control input-sm" ng-model="formCreation.name" readonly="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Owner Group Name </label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="mail" class="form-control input-sm" ng-model="formCreation.group" readonly="true">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Alternative Mail Id</label>
            <div class="col-sm-6">
                <div class="fg-line">

                    <input type="mail" class="form-control input-sm" ng-model="formCreation.alternateMailid" >
                </div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label" for="singleSelect">Form Type</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <div class="select">
                        <select class="form-control w-100" name="singleSelect" id="singleSelect" ng-model="formCreation.formType" ng-change="itemChenged(formCreation.formType)" required>
                            <option value="">---Please select---</option>
                            <option value="Public">Public</option> 
                            <option value="Private">Private</option>
                            <option value="General">General</option>
                        </select>
                    </div>
                </div>
            
                <small class ="help-block" ng-show="createForm.singleSelect.$error.required && createForm.singleSelect.$dirty">This field is required</small>
            </div>
        </div>

        <div class="form-group" ng-show="isPrivateSelect">
            <label class="col-sm-4 control-label" >Users</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <multiselect-dropdown model=" SelectedUsers " options="usersListForMap "></multiselect-dropdown>
                </div>
            
                <b data-ng-repeat="country in SelectedUsers">{{country.name}}{{$last ? '' : ', '}}</b>
            </div>
        </div>

       
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn bgm-green btn-xs waves-effect" >Create</button>
                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="close()">Cancel</button>
            </div>
        </div>
    </div>
</form>
