
<form class="form-horizontal" role="form" ng-submit="goToFormBuildArea(formCreation,createForm.$valid)" name="createForm" novalidate>
    <div class="card-header">
        <button type="button" class="close" ng-click="close()" ><span aria-hidden="true">&times;</span></button>
        <h2 class="c-blue">Template Creation</h2>
    </div>

    <div class="card-body card-padding">

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label">Template Name</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" name="formName" class="form-control input-sm" ng-model="formCreation.formName"  required>
                </div>

                <small class="help-block" ng-show="createForm.formName.$error.required && createForm.formName.$dirty">This field is required</small>
                
                <small class="help-block" ng-show="isFromExist && createForm.formName.$dirty">template name already in use</small>
            </div>
        </div>
        
         <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
               <button  type="submit" class="btn bgm-green btn-xs waves-effect"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Create</button>
                <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="close()"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
            </div>
        </div>
    </div>
    
</form>
