<div class="card">
   <form name="userFormCreation" class="form-horizontal" ng-submit="createUser(userInfo,userFormCreation.$valid)" novalidate>
      <div class="card-header">
         <h2>Create user</h2>
      </div>
      <div class="card-body card-padding">
         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">{{userFormConstants.UserNameLabel}} <span style="color:red">*</span></label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <input type="text"  class="form-control input-sm" name="username" data-ng-model="userInfo.username" capitalize-first required/>
               </div>
               <small class="help-block" ng-show="userFormCreation.username.$error.required && userFormCreation.username.$dirty">{{userFormConstants.UNRAlert}}.</small>
            </div>
         </div>

         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">{{userFormConstants.nameLable}} <span style="color:red">*</span></label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <input type="text" class="form-control input-sm" name="name" data-ng-model="userInfo.name" required/>
               </div>

               <small class="help-block" ng-show="userFormCreation.name.$error.required && userFormCreation.name.$dirty">{{userFormConstants.NRAlert}}.</small>
            </div>
         </div>

         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Email <span style="color:red">*</span></label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <input type="email" class="form-control input-sm" name="email" data-ng-model="userInfo.email" required/>
               </div>

               <small class="help-block" ng-show="userFormCreation.email.$error.required && userFormCreation.email.$dirty">{{userFormConstants.ERAlert}}</small>

               <small class="help-block" ng-show="userFormCreation.email.$error.email">{{userFormConstants.EINAlert}}
               </small>
            </div>
         </div>

         <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Phone <span style="color:red">*</span></label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <input type="text"
                     name="contact"
                     ng-minlength="5"
                     maxlength="10"
                     ng-pattern="phoneValidation"
                     class="form-control input-sm"
                     required
                     ng-model="userInfo.phone"
                     numbers-only
                     />
               </div>

               <small class="help-block" ng-show="userFormCreation.contact.$error.required && userFormCreation.contact.$dirty">{{userFormConstants.PNRAlert}}</small>

               <small class="help-block" ng-show="userFormCreation.contact.$error.minlength">{{userFormConstants.PNSAlert}}</small>

            </div>
         </div>

      <div class="form-group">
         <label class="control-label col-md-3">Select Image 
         </label>
         <div class="col-md-4">
            <div style="width: auto;background-color:#eee;height:auto;min-height:200px; border:1px solid #cccccc;" class="thumbnail">
               <img  ng-if="updateImage" ng-src="{{updateImage}}" err-src="{{errSrc}}"/>
            </div>
            <input id="userUpload" ng-model="userInfo.filename"  ng-files="getuploadImages($files)" name="fileUpload" type="file" accept="image"/>
            <button ng-disabled="isClearImg" class="btn btn-link btn-xs waves-effect m-t-10" type="button" ng-click="clearImg($files)" ><i class="zmdi zmdi-close zmdi-hc-fw"></i> clear image</button>
         </div>
      </div>
      <div class="form-group">
         <div class="col-sm-offset-3 col-sm-10">
            <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-disabled="!userFormCreation.$dirty"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Create</button>
            <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="cancel()" data-ui-sref="pages.users.view"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
         </div>
      </div>
      
    </div>
</form>
</div>