<div class="card">
    <form name="GroupFormCreation" class="form-horizontal" ng-submit="createGroup(groupInfo,GroupFormCreation.$valid)" novalidate>
    <div class="card-header">
        <h2>Create NewGroup</h2>
    </div>
    <div class="card-body card-padding">
        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">GroupName <span style="color:red">*</span></label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="name" data-ng-model="groupInfo.name" capitalize-first required/>
                </div>

                <small class="help-block" ng-show="GroupFormCreation.name.$error.required && GroupFormCreation.name.$dirty">Group name is required</small>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Phone<span style="color:red">*</span></label>
            <div class="col-sm-6">
                <div class="fg-line">
                     <input type="text"
                    name="contact"
                    ng-minlength="5"
                    maxlength="10"
                    ng-pattern="phoneValidation"
                    class="form-control input-sm"
                    required
                    ng-model="groupInfo.phone"
                    numbers-only
                    />
                </div>

                <small class="help-block" ng-show="GroupFormCreation.contact.$error.required && GroupFormCreation.contact.$dirty">Phone number is required</small>

                <small class="help-block" ng-show="GroupFormCreation.contact.$error.minlength">Phone number is too short</small>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Select Admin</label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <div class="select">
                     <select class="form-control w-100" ng-model='groupInfo.adminList' ng-options='admin for admin in adminUMList' class="form-control w-100" ng-disabled="Admindropdown">
                        <option value="">{{adminOptionMessage}}</option>
                     </select>
                  </div>
               </div>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-6">
                <div class="fg-line" col="6" row="6">
                 <textarea rows="3" class="form-control" name="description" data-ng-model="groupInfo.description">
                 </textarea>
                </div>
            </div>
        </div>
              
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-disabled="!GroupFormCreation.$dirty"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Create</button>
                <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="cancel()"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
            </div>
        </div>

    </div>
    </form>
</div>