
<form class="form-horizontal" role="form" ng-submit="saveDropdownProp(ddWidgetProp)">


        <div class="form-group">
            <label class="col-sm-3 control-label">{{lableName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="ddWidgetProp.lable">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{defaultValueName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="ddWidgetProp.defaultValue">
                </div>
            </div>
        </div>
        
        <div class="col-sm-offset-3 col-sm-10">
        <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
            <input type="checkbox" 
                    ng-model="ddWidgetProp.required" 
                    ng-checked="ddWidgetProp.required"/>
            <i class="input-helper"></i>
            {{requiredName}}
        </label>

        <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
            <input type="checkbox" 
                    ng-model="ddWidgetProp.isPrimary" 
                    ng-checked="ddWidgetProp.isPrimary"/>
            <i class="input-helper"></i>
            {{isPrimaryName}}
        </label>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{multiSelectionLabel}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                   <md-radio-group ng-model="ddWidgetProp.isAllowMultiselection">
                      <md-radio-button value="yes" class="md-primary">Yes</md-radio-button>
                      <md-radio-button value="no"> No </md-radio-button>
                  </md-radio-group>
                    
                  
                </div>
            </div>
          
        </div>

        <div class="col-sm-10">
            <button type="button" class="btn btn-primary btn-sm m-t-10 m-b-10 waves-effect" ng-click="addDropdownItem()">ADD Dropdown Items</button>
        </div>

        <div class="form-group">
            <table class="table table-condensed" style="border-collapse:none;border:1px solid #E5E5E5;">
                <tr style="background:#A9A9A9">
                    <th>#</th>
                    <th>Item Name</th>
                    <th>Item Value</th>
                </tr>
                <tr ng-repeat="item in ddWidgetProp.type.values">
                    <td>{{$index+1}}</td>
                    <td><div class="fg-line"><input type="text" class="form-control input-sm" ng-model ="item.lable"></div></td>
                    <td><div class="fg-line"><input type="text" class="form-control input-sm" ng-model ="item.value"></div></td>
                </tr>
            </table>
        </div>
    
        <!-- <div class="form-group">
            <div class="col-sm-10">
                <div class="form-group" ng-repeat="item in ddWidgetProp.type.values">
                    <label class="col-sm-3 control-label">Item Name -{{$index+1}}:</label>
                    <div class="col-sm-8">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" ng-model ="item.lable">
                        </div>
                    </div>

                    <label class="col-sm-3 control-label">Item Value -{{$index+1}}:</label>
                    <div class="col-sm-8">
                        <div class="fg-line">
                            <input type="text" class="form-control input-sm" ng-model ="item.value">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn bgm-green btn-xs waves-effect" ng-click="saveDropdownProp(ddWidgetProp)">Save</button>
                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="widgetPropertiesWindowClose()">Cancel</button>
            </div>
        </div>
</form>
