<div class="card">
    <form name="userFormUpdation" class="form-horizontal" ng-submit="editUserForm(editVal,userFormUpdation.$valid)" novalidate>
    <div class="card-header">
        <h2>{{userFormConstants.formHeader}} </h2>
    </div>
    <div class="card-body card-padding">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{userFormConstants.UserNameLabel}}</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="usernameEdit" data-ng-model="editVal.username"  capitalize-first  disabled/>
                </div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">{{userFormConstants.nameLable}}</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="name"  ng-model="editVal.name" required/>
                </div>
                <small class="help-block" ng-show="userFormUpdation.name.$error.required && userFormUpdation.name.$dirty">{{userFormConstants.NRAlert}}.</small>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="email" class="form-control input-sm" name="email" data-ng-model="editVal.email" required/>
                </div>

                <small class="help-block" ng-show="userFormUpdation.email.$error.required && userFormUpdation.email.$dirty">{{userFormConstants.ERAlert}}</small>

               <small class="help-block" ng-show="userFormUpdation.email.$error.email">{{userFormConstants.EINAlert}}
               </small>
            </div>
        </div>
            <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text"
                    name="contact"
                    ng-minlength="5"
                    maxlength="10"
                    ng-pattern="phoneValidation"
                    class="form-control input-sm"
                    required
                    ng-model="editVal.phone"
                    numbers-only
                    />
                </div>
                 <small class="help-block" ng-show="userFormUpdation.contact.$error.required && userFormUpdation.contact.$dirty">{{userFormConstants.PNRAlert}}</small>
                 
                 <small class="help-block" ng-show="userFormUpdation.contact.$error.minlength">{{userFormConstants.PNSAlert}}</small>              
            </div>

        </div>
         <div class="form-group">
            <label class="control-label col-md-3">Select Image</label>
            <div class="col-md-4">
                <div style="width: auto;background-color:#eee;height:auto;min-height:200px; border:1px solid #cccccc;" class="thumbnail" ng-hide="imageOnCreate">
                    <img  ng-if="updateImage" ng-src="{{updateImage}}" err-src="{{errSrc}}"/>
                </div>  
                <input id="userUpload" type="file" ng-model="fileUploadedit"  name="fileUploadedit"   ng-files="getuploadImages($files)"  type="file" accept="image"/>
                <!-- <button class="btn btn-link btn-xs waves-effect m-t-10" type="button" ng-click="clearImg($files)"><i class="zmdi zmdi-close zmdi-hc-fw"></i> clear image</button> -->
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-disabled ="!((isImageChange) ||(userFormUpdation.$dirty))"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Update</button>

                <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="cancel()" data-ui-sref="pages.users.view"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
            </div>
        </div>
        
                 
    </form>

    
</div>