<div class="card">
    <form name="GroupFormEdit" class="form-horizontal" ng-submit="editGroup(groupEditdata, GroupFormEdit.$valid)" novalidate>
    <div class="card-header">
        <h2>Update UserGroup</h2>
    </div>
    <div class="card-body card-padding">
        <div class="form-group">
            <label class="col-sm-3 control-label">GroupName</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" disabled class="form-control input-sm" name="editName" data-ng-model="groupEditdata.name" capitalize-first />
                </div>
                <small class="help-block" ng-show="GroupFormEdit.editName.$error.required && GroupFormEdit.editName.$dirty">Group name is required</small>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-6">
                <div class="fg-line">
                <input type="text"
                    name="contact"
                    ng-minlength="5"
                    maxlength="10"
                    ng-pattern="phoneValidation"
                    class="form-control input-sm"
                    required
                    ng-model="groupEditdata.phone"
                    numbers-only
                    />
                </div>

                <small class="help-block" ng-show="GroupFormEdit.contact.$error.required && GroupFormEdit.contact.$dirty">Phone number is required</small>

                <small class="help-block" ng-show="GroupFormEdit.contact.$error.minlength">Phone number is too short</small>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Select Admin</label>
            <div class="col-sm-6">
               <div class="fg-line">
                  <div class="select">
                     <select class="form-control w-100" ng-model='groupEditdata.Admin' ng-options='admin for admin in adminListUnMapped' ng-disabled="adminlistdropdown">
                     <option value="" ng-disabled="defaultMsg">{{errorMsg}}</option>
                     </select>

                  </div>
               </div>
            </div>
        </div>

        
        <div class="form-group" >
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-6">
                <div class="fg-line" col="6" row="6">
                 <textarea rows="3" class="form-control" name="description" data-ng-model="groupEditdata.description" >
                 </textarea>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-disabled="!GroupFormEdit.$dirty"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Update</button>
                <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="cancel()"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
            </div>
        </div>
        </div>
       </form>

    
</div>