<div class="card">
    <form class="form-horizontal" role="form" name= "adminUpdation" ng-submit="editAdminForm(editAdminData,adminUpdation.$valid)" novalidate>
        <div class="card-header">
            <h2>Admin Updation</h2>
        </div>
         <div class="card-body card-padding">
         <div class="form-group" >
            <label class="col-sm-3 control-label">Username</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" disabled value="{{adminUsername}}"class="form-control input-sm" ng-model="editAdminData.username" name="adminUsername" capitalize-first />
                </div>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Name </label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" name="name" data-ng-model="editAdminData.name" required/>
                </div>
                <small class="help-block" ng-show="adminUpdation.name.$error.required && adminUpdation.name.$dirty">Admin name is required!</small>
            </div>
        </div>
        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Email</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="email" class="form-control input-sm" name="email" data-ng-model="editAdminData.email" required/>
                </div>
                <small class="help-block" ng-show="adminUpdation.email.$error.required && adminUpdation.email.$dirty">
                    Email is required
                </small>
                <small class="help-block" ng-show="adminUpdation.email.$error.email">Invalid Email.
               </small>
            </div>
        </div>
        
        <div class="form-group" >
            <label class="col-sm-3 control-label">Select Group</label>
            <div class="col-sm-6">
                <select ng-model='editAdminData.groupname'  ng-options='group for group in groupList'  ng-disabled="isDisableadmindropdown" class="form-control w-100">
                 <option value="" ng-disabled="defaultMsg" >{{errorImg}}</option>
                </select>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-3 control-label">Phone</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" name="contact"
                        ng-minlength="5"
                        maxlength="10"
                        ng-pattern="phoneValidation"
                        class="form-control input-sm"
                        required
                        ng-model="editAdminData.phone"
                        numbers-only>
                </div>
                <small class="help-block" ng-show="adminUpdation.contact.$error.required && adminUpdation.contact.$dirty">Phone number is required</small>
                <small class="help-block" ng-show="adminUpdation.contact.$error.minlength">Phone number is too short</small>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label col-md-3">Select Image</label>
            <div class="col-md-4">
                <div style="width: auto;background-color:#eee;height:auto;min-height:200px; border:1px solid #cccccc;" class="thumbnail" ng-hide="imageOnCreate">
                    <img  ng-src="{{updateImage}}" ng-if="updateImage" err-src="{{errSrc}}" />
                </div>  
                <input id="userUpload" type="file" ng-model="fileUploadedit"  name="fileUploadedit"   ng-files="getuploadImages($files)"  type="file" accept="image/*"/>
                <!-- <button class="btn btn-link btn-xs waves-effect m-t-10" type="button" ng-click="clearImg($files)"><i class="zmdi zmdi-close zmdi-hc-fw"></i> clear image</button> -->
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-disabled ="!((isImageChange) ||(adminUpdation.$dirty))"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Update</button>
                <button class="btn btn-danger btn-xs waves-effect" type="button" ng-click="cancel()" data-ui-sref="pages.admin.view"><i class="zmdi zmdi-close-circle-o zmdi-hc-fw"></i> Cancel</button>
            </div>
        </div>
    </div>
        
    </form>
</div>