<form class="form-horizontal" role="form" ng-submit="sendAttachment(attachmentData,emailForm.$valid)" name="emailForm" novalidate>
    <div class="card-header ch-alt">
    	<button type="button" class="close" ng-click="close()" ><span aria-hidden="true">&times;</span></button>
        <h2 class="c-bluegray"><i class="zmdi zmdi-email zmdi-hc-fw"></i> Email Attachment</h2>
        <small>Created forms will be sent to your email in Excel format.</small>
    </div>

    <div class="card-body card-padding">

        <div class="form-group">
            <label class="col-sm-4 control-label">Admin Email Id</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="text" name="emailId" class="form-control input-sm" ng-model="attachmentData.emailId" readonly>
                </div>
            </div>
        </div>

        <div class="form-group" show-errors>
            <label class="col-sm-4 control-label">Alternative Mail Id (Optional)</label>
            <div class="col-sm-6">
                <div class="fg-line">
                    <input type="email" class="form-control input-sm" name="alternateEmail" ng-model="attachmentData.alternateEmail" >
                </div>
                <small class="help-block c-gray">NOTE : This mail id will be used as CC</small>
                <small class="help-block" ng-show="emailForm.alternateEmail.$error.email">Invalid Email.</small>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="close()">Cancel</button>
                <button type="submit" class="btn bgm-green btn-xs waves-effect" >Go</button>
            </div>
        </div>
    </div>
    
</form>
