
<form class="form-horizontal" role="form" ng-submit="saveGroupProp(formGroupWidgetProp)">
        <div class="form-group">
            <label class="col-sm-3 control-label">Lable</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="formGroupWidgetProp.lable">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9 m-t-15">
                <button type="button" class="btn bgm-green btn-xs waves-effect" ng-click="$parent.isCollapsed = !$parent.isCollapsed;saveGroupProp(formGroupWidgetProp,tyepOfGroupPlace)">Submit</button>
                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="groupPropertiesWindowClose()">Cancel</button>
            </div>
        </div>

</form>
