<div class="row col-md-12 tablet-preview" >
  	<div class="tablet-container">
		<div class="tablet-content">
			<form class="form-horizontal" role="form" >
			<div ng-repeat="field in fields track by $index">
	   			<div data-ng-include="'views/groupWidgetsPreview.html'"></div>  
	    	</div>
	    	</form>
		</div>
  	</div>
</div>


