<div class="card">
  <div class="card-header ch-alt">
    <h2>{{formName}} - Form</h2>
    <ul class="actions">
      <li>
        <md-tooltip md-direction="top" ng-if="skeltonType === 'form' && typeOfFormSave === 'New'">Save Form</md-tooltip>
         <md-tooltip md-direction="top" ng-if="skeltonType === 'form' && typeOfFormSave === 'Edit'">Update Form</md-tooltip>
        <md-tooltip md-direction="top" ng-if="skeltonType === 'template' && typeOfFormSave === 'New'"">Save Template</md-tooltip>
        <md-tooltip md-direction="top" ng-if="skeltonType === 'template' && typeOfFormSave === 'Edit'"">Update Template</md-tooltip>
        
        <a href="" ng-click="saveForm()"><i class="zmdi zmdi-check"></i></a>
      </li>
      <li>
        <md-tooltip md-direction="top" ng-if="skeltonType === 'form'">Preview Form</md-tooltip>
        <md-tooltip md-direction="top"  ng-if="skeltonType === 'template'">Preview Template</md-tooltip>
        <a href="" ng-click="previewForm(name,'lg')"><i class="zmdi zmdi-search-in-file zmdi-hc-fw"></i></a>
      </li>
      <!-- <li>
          <a href=""><i class="zmdi zmdi-delete"></i></a>
      </li> -->
    </ul>
  </div>

  <div class="card-body card-padding" style="margin-top: 0px;padding-top:5px;">
    <!-- UI WIDGETS -->
    <div class="row">
      <div class="col-md-12 m-btn">
      <!-- START SPEED-DIAL Icons -->
      <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" md-open="demo.isOpen"
        class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': demo.hover }" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false" style="top: 0px;right: 0px;">
          <md-fab-trigger>
            <md-button aria-label="menu" class="md-fab md-mini md-primary">
              <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
              <md-icon aria-label="menu">menu</md-icon>
            </md-button>
          </md-fab-trigger>
          <!-- Action Bar Start -->
          <md-fab-actions>
            <md-button aria-label="TextBox" class="md-icon-button" ng-click="addWidget('textBox')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Textbox </md-tooltip>
              <md-icon aria-label="TextBox">text_fields</md-icon>
            </md-button>
            <md-button aria-label="Textarea" class="md-icon-button" ng-click="addWidget('textArea')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Textarea </md-tooltip>
              <md-icon aria-label="Textarea">text_format</md-icon>
            </md-button>
            <md-button aria-label="Dropdown" class="md-icon-button" ng-click="addWidget('select')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Dropdown </md-tooltip>
              <md-icon>arrow_drop_down</md-icon>
            </md-button>
            <md-button aria-label="Checkbox" class="md-icon-button" ng-click="addWidget('checkbox')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Checkbox</md-tooltip>
              <md-icon>check_box</md-icon>
            </md-button>
            <md-button aria-label="radioButton" class="md-icon-button" ng-click="addWidget('radio')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Radio button</md-tooltip>
              <md-icon>radio_button_checked</md-icon>
            </md-button>
            <md-button aria-label="camera" class="md-icon-button" ng-click="addWidget('camera')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Camera</md-tooltip>
              <md-icon>camera_alt</md-icon>
            </md-button>
            <md-button aria-label="Barcode" class="md-icon-button" ng-click="addWidget('barcode')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Barcode</md-tooltip>
              <md-icon>fingerprint</md-icon>
            </md-button>
            <md-button aria-label="calendar" class="md-icon-button" ng-click="addWidget('calender')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Calendar</md-tooltip>
              <md-icon>insert_invitation</md-icon>
            </md-button>

            <md-button aria-label="Signature" class="md-icon-button" ng-click="addWidget('sign')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Signature </md-tooltip>
              <md-icon>&#xE22B;</md-icon>
            </md-button>

            <md-button aria-label="Map" class="md-icon-button" ng-click="addWidget('map')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Map </md-tooltip>
              <md-icon>add_location</md-icon>
            </md-button>

            <!-- newchange -->
            <md-button aria-label="Rating" class="md-icon-button" ng-click="addWidget('rating')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Rating </md-tooltip>
              <md-icon>&#xE839;</md-icon>
            </md-button>

            <!-- newchange -->
            <md-button aria-label="Group" class="md-icon-button" ng-click="addWidget('group')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Group</md-tooltip>
              <md-icon>&#xE8ED;</md-icon>
            </md-button>

            <md-button aria-label="Section" class="md-icon-button" ng-click="addWidget('section')">
              <md-tooltip md-direction="bottom" md-visible="tooltipVisible" md-autohide="false">
              Section</md-tooltip>
              <md-icon>view_agenda</md-icon>
            </md-button>

          </md-fab-actions>
          <!-- Action Bar End -->
      </md-fab-speed-dial>
      <!-- END SPEED-DIAL -->
      </div>
    </div>
    <!-- END UI WIDGETS -->
    <div class="clearfix"></div>
    <!-- START FORM BUILDER -->
   
    <div class="container-fluid" style="margin-top:50px;">
      <form>
      <!-- ## START ng-repeat ## -->
      <div ng-repeat="field in fields">
  <div ng-switch on="field.type.view">
          <!-- [CASE:1] TEXTBOX -->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="textbox" >
            <div class="card-header ch-alt">
              <h2>TEXTBOX</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setTextboxproperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
              <form class="form-horizontal" role="form">
                  <div class="card-body card-padding">
                  <div class="form-group" style="margin-bottom:20px;">
                    <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
                      <div class="col-sm-10">
                        <div class="fg-line disabled">
                        <input type="text" class="form-control input-sm" placeholder ='{{field.placeHolder}}'
                        ng-required='{{field.required}}'
                        ng-model='field.defaultValue' 
                        disabled="{{skeltonWidgetReadonly}}"
                        />
                        </div>
                      </div>
                  </div>
                  </div>
              </form>
              <!-- TEXTBOX PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>TextBox Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/textBoxPropetiresModel.html'"></div>
                </div>
              </div>
              <!-- END TEXTBOX PROPERTIES WIDGET -->
            </div>
          </div>
          
          <div class="card widget_Card animated fadeInDown" ng-switch-when="rating" >
            <div class="card-header ch-alt">
              <h2>RATING</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setRatingProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
              <form class="form-horizontal" role="form">
                  <div class="card-body card-padding">
                  <div class="form-group" style="margin-bottom:20px;">
                    <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
                      <div class="col-sm-10">
                        <div class="fg-line disabled">
                        <md-slider-container layout="row">
                            <md-slider flex md-discrete step="1" ng-disabled="true" min="{{field.min}}" max="{{field.max}}" ng-model="field.defaultValue" aria-label="rde" id="red-slider">
                            </md-slider>
                            <md-input-container>
                              <input flex type="number" ng-model="field.defaultValue" aria-label="red" aria-controls="red-slider" ng-disabled="true">
                            </md-input-container>
                        </md-slider-container>
                        </div>
                      </div>
                  </div>
                  </div>
              </form>
              <!-- TEXTBOX PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>Rating Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/ratingPropertiesModal.html'"></div>
                </div>
              </div>
              <!-- END TEXTBOX PROPERTIES WIDGET -->
            </div>
          </div>
          <!-- [CASE-2] TEXTAREA -->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="textarea" >
            <div class="card-header ch-alt">
              <h2><i class="fa fa-dot-circle-o fa-1x"></i>TEXTAREA</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setTextareaProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding">
              <!-- View -->
              <div class="row">
                <div class="form-group">
                 <label class="col-sm-3 control-label" for="singleSelect">{{ field.lable }} <em style="color:red" ng-hide="!field.required">*</em></label>
                 <div class="col-sm-6">
                  <div class="fg-line disabled">
                      <textarea class="form-control" rows="3" placeholder='{{field.placeHolder}}' ng-model='field.defaultValue' disabled="{{skeltonWidgetReadonly}}"></textarea>
                  </div>
                 </div> 
              </div>
              </div>
            <!-- End view -->

            <!-- TEXTAREA PROPERTIES WIDGET -->
            <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>Textarea Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/textAreaPropertiesModel.html'"></div>
                </div>
              </div>
              <!-- END TEXTAREA PROPERTIES WIDGET -->
            </div>
          </div>
          <!-- [CASE-3] CHECKBOX -->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="checkbox">
            <div class="card-header ch-alt">
              <h2><i class="fa fa-dot-circle-o fa-1x"></i>CHECKBOX</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setCheckboxProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding">
              <div class="row m-b-15">
                <div class="form-group">
                  <label class="col-md-2 control-label">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
                  <div class="col-md-10">
                    <label class="checkbox checkbox-inline m-b-15 m-l-0 col-sm-3" ng-repeat="item in field.type.values">
                        <input type="checkbox" ng-checked="field.defaultValue === item.lable"  disabled="{{skeltonWidgetReadonly}}"><i class="input-helper"></i>{{ item.lable }}
                    </label>
                  </div>
                </div>
              </div> 


              <!-- CHECKBOX PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form' ">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>CHECKBOX Properties</h2>
                </div>
                <div class="card-body card-padding">
                  <div class="row" data-ng-include="'views/checkBoxPropertiesModel.html'">
                  </div>
                </div>
              </div>
              <!-- END CHECKBOX PROPERTIES WIDGET -->
            </div>
          </div>
          <!-- [CASE-4] RADIOBUTTON -->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="radio">
            <div class="card-header ch-alt">
              <h2><i class="fa fa-dot-circle-o fa-1x"></i>RADIO</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setRadioButtonProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
             
             <div class="row m-b-15">
                <div class="form-group">
                  <label class="col-md-2 control-label">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
                  <div class="col-md-10">
                    <label class="radio radio-inline m-b-15 m-l-0 col-sm-3" ng-repeat="item in field.type.values">
                       <input type="radio" ng-checked="field.defaultValue === item.lable"  disabled="{{skeltonWidgetReadonly}}">
                        <i class="input-helper"></i>
                        {{ item.lable }}
                    </label>
                  </div>
                </div>
              </div>  
              
              <!-- RADIO PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>RADIO Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/radioButtonProperties.html'"></div>
                </div>
              </div>
              <!-- END CHECKBOX PROPERTIES WIDGET -->
            </div>
          </div>
          <!-- [CASE-5] SELECT DROPDOWN-->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="select" >
            <div class="card-header ch-alt">
              <h2><i class="fa fa-dot-circle-o fa-1x"></i>SELECT</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setDropdownProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
            
            <div class="row">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="singleSelect">{{ field.lable }} <em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-6">
                <div class="fg-line disabled">
                    <div class="select">
                      <select class="form-control w-100" ng-model="field.defaultValue" ng-options="option.value as option.lable for option in field.type.values" disabled="{{skeltonWidgetReadonly}}">
                        
                      </select>
                    </div>
                </div>
                </div>
              </div>
              </div>

              <!-- SELECT PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>DropDown Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/dropdownPropertiesModel.html'"></div>
                </div>
              </div>
              <!-- END SELECT PROPERTIES WIDGET -->
            </div>
          </div>
          <!-- [CASE-6] CAMERA-->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="camera" >
            <div class="card-header ch-alt">
              <h2><i class="fa fa-dot-circle-o fa-1x"></i>CAMERA</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setCameraproperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
               <label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> : <md-icon>camera_alt</md-icon></label>
              <!-- CAMERA PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>Camera Properties</h2>
                </div>
                <div class="card-body card-padding">
                  <div class="row" data-ng-include="'views/CameraPropertiesModel.html'"></div>
                </div>
              </div>
              <!-- END CAMERA PROPERTIES WIDGET -->
            </div>
          </div>
          <!-- [CASE-7] BARCODE -->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="barcode" >
            <div class="card-header ch-alt">
              <h2><i class="fa fa-dot-circle-o fa-1x"></i>BARCODE</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setBarcodeproperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href=""  ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
              <label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> : <md-icon>fingerprint</md-icon></label>
              <!-- BARCODE PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>BARCODE Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/barcodePropertiesModel.html'"></div>
                </div>
              </div>
              <!-- END BARCODE PROPERTIES WIDGET -->
            </div>
          </div>
          <!-- [CASE-8] CALENDER-->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="calender">
            <div class="card-header ch-alt">
              <h2><i class="fa fa-dot-circle-o fa-1x"></i>CALENDAR</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setCalenderProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
              <label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> :</label>
              <md-datepicker ng-model="currentDate" md-placeholder="{{field.placeHolder}}"  disabled="{{skeltonWidgetReadonly}}"></md-datepicker>
              <!-- CALENDER PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>CALENDER Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row"  data-ng-include="'views/calenderPropertiesModel.html'">
                      
                    </div>
                </div>
              </div>
              <!-- END CALENDER PROPERTIES WIDGET -->
            </div>
          </div>

          <div class="card widget_Card animated fadeInDown" ng-switch-when="sign" >
            <div class="card-header ch-alt">
              <h2>SIGNATURE</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setSignproperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
              <form class="form-horizontal" role="form">
                  <div class="card-body card-padding">
                  <div class="form-group" style="margin-bottom:20px;">
                    <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
                      <div class="col-sm-10 sign-image">
                        
                          <img src="images/sign.png" class="sign-image"></img>
                     
                      </div>
                  </div>
                  </div>
              </form>
              <!-- sign PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>Signature Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/signaturePropertiesModel.html'"></div>
                </div>
              </div>
              <!-- END sign PROPERTIES WIDGET -->
            </div>

          </div>
          <div class="card widget_Card animated fadeInDown" ng-switch-when="map" >
            <div class="card-header ch-alt">
              <h2>Location</h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setMapproperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteWidget($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding" >
              <form class="form-horizontal" role="form">
                  <div class="card-body card-padding">
                  <div class="form-group" style="margin-bottom:20px;">
                    <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
                      <div class="col-sm-10 sign-image">
                        
                          <img src="images/map.png" class="sign-image"></img>
                     
                      </div>
                  </div>
                  </div>
              </form>
              <!-- map PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'form'">
                <div class="card-header bgm-teal ch-alt">
                  <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                  <h2><i class="fa fa-check-square fa-1x"></i>Location Properties</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/mapPropertiesModel.html'"></div>
                </div>
              </div>
              <!-- END map PROPERTIES WIDGET -->
            </div>

          </div>
          <!-- [CASE-9] GROUP -->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="group">
            <div class="card-header ch-alt"  ng-class="{selectedStyle: selctedGroupIndexofGroups == $index && isGroupSelected}" ng-click="addFieldsToGroup($index)">
              <h2  ><i class="fa fa-dot-circle-o fa-1x"></i>{{field.lable}} Group</h2>
              <small>For adding widgets to group,click here and select widegts form UI Buzz</small>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setFormGroupProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="deleteGroup($index,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="card-body card-padding">
              <!-- Group PROPERTIES WIDGET -->
              <div class="card animated fadeIn widget_Properties" ng-show="$index == selectedGroupIndexFromform && isGroupSelecte ">
                <div class="card-header bgm-teal ch-alt">
                  <h2><i class="fa fa-check-square fa-1x"></i>Group Properties</h2>
                </div>
                <div class="card-body card-padding" ng-init="tyepOfGroupPlace= 'form'">
                    <div class="row" data-ng-include="'views/formGroupPropertiesModel.html'">
                      
                    </div>
                </div>
              </div>
              <!-- END GROUP PROPERTIES WIDGET -->

              <!-- VIEWS IN GROUPS-->
              <div ng-init="placeOfWidgets = 'group'" ng-repeat="field in field.type.fields" data-ng-include="'views/groupWidgets.html'" ></div>

            </div>
          </div>
          <!-- [CASE-10] SECTION -->
          <div class="card widget_Card animated fadeInDown" ng-switch-when="section">
            <div class="card-header ch-alt" ng-class="{selectedStyle: selctedSectionIndexofSections == $index 
                && isSectionSelected}" ng-click="addFieldsTOSection($index)">
              <h2>{{field.lable}} Section<small>For adding widgets to Section, click here and select widgets form UI Buzz</small></h2>
                <ul class="actions">
                  <li>
                   <md-tooltip md-direction="left">Set properties</md-tooltip>
                    <a href="" ng-click="isCollapsed = !isCollapsed;setSectionProperties($index,'form')">
                      <i class="zmdi zmdi-caret-down-circle"></i>
                    </a>
                  </li>
                  <li>
                    <md-tooltip md-direction="down">Delete</md-tooltip>
                    <a href="" ng-click="sectionDelete($index,undefined,undefined,'form')"><i class="zmdi zmdi-delete"></i></a>
                  </li>
                </ul>
            </div>
            <div class="row" style="margin-left:0px;margin-right:0px;padding:10px;">
                <!-- SECTION PROPERTIES -->
                <div class="card animated fadeIn widget_Properties" ng-show="$index == widgetSelectedIndex && isSectionselect">
                  <div class="card-header bgm-teal ch-alt">
                    <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
                    <h2><i class="fa fa-check-square fa-1x"></i>SECTION Properties</h2>
                  </div>
                  <div class="card-body card-padding">
                    <div class="row" data-ng-include="'views/sectionPropertiesModel.html'">
                      
                    </div>
                  </div>
                </div>
                <!-- END SECTION PROPERTIES-->
                <div class="row" style="margin-left:0px;margin-right:0px;">
                  <div class="card-body card-padding ch-alt">
                      <div ng-repeat="field in field.type.fields">
                        <div ng-switch on="field.type">
                          <div ng-switch-when='field'>
                            <div class="row" data-ng-include="'views/widgetsCommonProcess.html'"></div>
                          </div>
                          <div ng-switch-when='group'>
                            <div class="row" data-ng-include="'views/sectionGroups.html'"></div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>

            </div>
          </div>
          <!-- [CASE-11] DEFAULT-->
          <div class="card animated fadeInDown" ng-switch-default></div>

        </div>
        <!-- eND SWITCH -->
      </div>
      <!-- ## STOP ng-repeat ## -->
      </form>
    </div>
    <!-- END FORM BUILDER -->
  </div>
</div>