<div layout="column" style="height: 380px !important">
	<md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
          <h3>
            <span>FORM Name</span>
          </h3>
          <span flex="" class="flex"></span>

          <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="save">
            <md-icon>check_circle</md-icon>
          </button>

          <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="delete">
            <md-icon>delete_forever</md-icon>
          </button>

          <button class="md-icon-button md-button md-ink-ripple" type="button" aria-label="preview">
            <md-icon class="ng-scope" aria-hidden="true">personal_video</md-icon>
            <!-- <md-tooltip md-visible="true" md-direction="bottom">Preview</md-tooltip> -->
          </button>

        </div>
    </md-toolbar>

    <!-- Tool Bar -->
    <md-fab-toolbar md-direction="{{demo.selectedDirection}}">
            <md-fab-trigger class="align-with-text">
              <md-button aria-label="menu" class="md-fab md-mini md-button md-primary">
                <md-icon>menu</md-icon>
                <md-tooltip md-direction="top" md-visible="tooltipVisible">Menu</md-tooltip>
              </md-button>
            </md-fab-trigger>

            <md-toolbar>
              <md-fab-actions class="md-toolbar-tools">
                <md-button aria-label="TextBox" class="md-icon-button">
                  <md-icon>text_fields</md-icon>Text
                </md-button>
                <md-button aria-label="label" class="md-icon-button">
                  <md-icon >arrow_drop_down</md-icon>
                </md-button>
                <md-button aria-label="calender" class="md-icon-button">
                  <md-icon>event</md-icon>
                </md-button>
              </md-fab-actions>
            </md-toolbar>
    </md-fab-toolbar>
    <!-- End Tool Bar -->
    <md-content flex class="md-padding">
    	<form>
    		<md-card style="border:1px solid #A8A8A8">
	          	<md-card-content>
	          		<md-input-container class="md-block">
	                  <label>User Name</label>
	                  <input required name="userName" ng-model="project.userName">
	                  <div ng-messages="projectForm.userName.$error">
	                     <div ng-message="required">This is required.</div>
	                  </div>
               </md-input-container>
	          	</md-card-content>
	          
	          	<md-card-actions layout="row" layout-align="end center" class="layout-align-end-center layout-row">
		             <md-button aria-label="label" class="md-icon-button"><md-icon>more vert</md-icon></md-button>
		              <md-button aria-label="label" class="md-icon-button"><md-icon>delete_forever</md-icon></md-button>
	          	</md-card-actions>
	        </md-card>

	        <!-- Group Content Start -->
        <md-card>
            <md-card-header>
              <md-card-header-text>
                <span class="md-title">Untitled Group</span>
                <span class="md-subhead">Group Description</span>
              </md-card-header-text>
                <!-- menu dropdown -->
                <md-menu md-position-mode="target-right target" >
                  <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-menu-origin>more_vert</md-icon>
                  </md-button>
                  <md-menu-content width="4" >
                    <md-menu-item >
                      <md-button>
                          <div layout="row">
                            <p flex>Option 1</p>
                            <md-icon md-menu-align-target style="margin: auto 3px auto 0;">menu</md-icon>
                          </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item >
                      <md-button>
                          <div layout="row">
                            <p flex>Option 2</p>
                            <md-icon md-menu-align-target style="margin: auto 3px auto 0;">menu</md-icon>
                          </div>
                      </md-button>
                    </md-menu-item>
                    <md-menu-item >
                      <md-button>
                          <div layout="row">
                            <p flex>Option 3</p>
                            <md-icon md-menu-align-target style="margin: auto 3px auto 0;">menu</md-icon>
                          </div>
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
                <!-- End Menu Dropdown -->
            </md-card-header>

            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </md-card-content>
        </md-card>
        <!-- Group Content End -->
	    </form>
	</md-content>

</div>