<div class="row">
	<div style="padding-left: 40%">
		<label style="color:red">Form Name</label>
		{{formName}}
	</div>
</div>
<div class="row">
        
        <div class="col-md-6" style="border: 2px solid black">
           

           <div class="listview lv-bordered lv-lg">
           		<div class="lv-item media">
	            	<div class="media-body">
		                <div class="lv-title" ng-click="addWidget('textBox')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> TextBox </div>

		            </div>
        		</div>
        		<div class="lv-item media">
	            	<div class="media-body">
	                <div class="lv-title" ng-click="addWidget('textArea')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> TextArea </div>

		                
	            	</div>
        		</div>
        		<div class="lv-item media">
	            	<div class="media-body">
	                <div class="lv-title" ng-click="addWidget('checkbox')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Checkbox </div>

		                
	            	</div>
        		</div>
        		<div class="lv-item media">
	            	<div class="media-body">
	                <div class="lv-title" ng-click="addWidget('radio')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> RadioButton </div>

		                
	            	</div>
        		</div>
        		<div class="lv-item media">
	            	<div class="media-body">
	                <div class="lv-title" ng-click="addWidget('select')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> select </div>

		                
	            	</div>
        		</div>
        		<div class="lv-item media">
	            	<div class="media-body">
	                <div class="lv-title" ng-click="addWidget('section')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Section </div>

		                
	            	</div>
        		</div>

        		<div class="lv-item media">
	            	<div class="media-body">
	                <div class="lv-title" ng-click="addWidget('group')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Group </div>

		                
	            	</div>
        		</div>

           </div>

        </div>
         <div class="col-md-6"  style="border: 2px solid green">
         	
            <form class="form-horizontal" role="form" name="discountForm">
				<div ng-repeat="field in fields">  
				  		<span ng-switch on="field.type.view">  
						  <span ng-switch-when="textbox" class= "row" ng-click ="setTextboxproperties($index,'form')"> 
							  <label  class="col-md-6">{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
							   <input     class="col-md-6"  
							              ng-model="entity[field.name]" 
							              class="{{field.cssClassing}}"    
							              type="text"
							              placeholder ='{{field.placeHolder}}'
							              ng-required='{{field.required}}'
							              
							   /> 
							   

						  </span>  

						  <span ng-switch-when="checkbox" class= "row" ng-click="setCheckboxProperties($index,'form')">  
						      <label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
						     
						       <span class="col-md-6"   ng-repeat ="option in field.type.values">
						       		<span class ="row">
						       			<input   type="checkbox">
						       				<label>{{option.lable}}</label>
						       			</input> 
	
						       		</span>
						     		
						       </span>
						       
						  </span> 
						  <span ng-switch-when="radio" class= "row" ng-click="setRadioButtonProperties($index,'form')">  
						      <label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
						     
						       <span class="col-md-6"  ng-repeat ="option in field.type.values">
						       		<span class ="row">
						       			<input   type="radio">
						       				<label>{{option.lable}}</label>
						       			</input> 
	
						       		</span>
						     		
						       </span>
						       
						  </span> 

						  <span ng-switch-when="textarea" class="row" ng-click="setTextareaProperties($index,'form')">  
						  	<label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
						    
						    <textarea class="col-md-6"  placeholder='{{field.placeHolder}}'></textarea>  
						  </span>  

						  <span ng-switch-when="select" class="row" ng-click="setDropdownProperties($index,'form')">
						  	<label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label> 
						  	 <select class="col-md-6" >
						       		<option ng-repeat="option in field.type.values" value="{{option.id}}">{{option.lable}}</option>
						     	
						     </select>  
						  </span>

						  <span ng-switch-when="group" class="row">
						  	
						  	<div class="card" style="border: 1px dashed #95a5a6;">
				                    <div class="card-header ch-alt" ng-class="{selectedStyle: selctedGroupIndexofGroups == $index && isGroupSelected}">
				                        <h2 ng-click="addFieldsToGroup($index)">{{field.lable}}<small>To adding the widgets to group, click on group name and select widegts form UI Buzz</small></h2>
				                        <ul class="actions">
				                            <li class="dropdown" uib-dropdown="">
				                                <a href="" uib-dropdown-toggle="" aria-expanded="false" class="dropdown-toggle" aria-haspopup="true">
				                                    <i class="zmdi zmdi-more-vert"></i>
				                                </a>

				                                <ul class="dropdown-menu dropdown-menu-right">
				                                    <li>
				                                        <a ng-click="setFormGroupProperties($index)"> Group Settings</a>
				                                    </li>
				                                </ul>
				                            </li>
				                        </ul>
				                    </div>
				                    <div class="card-body card-padding">
				                        <div ng-init="ind=$parent.index"ng-repeat="field in field.type.fields" data-ng-include="'views/groupWidgets.html'" >
					               		
					               		</div>
				                    </div>

			                </div>
						  </span> 

						  <span ng-switch-when="section" class="row">
						  	<div class="card p-10" >
					            <div class="card-header  ch-alt"  ng-class="{selectedStyle: selctedSectionIndexofSections == $index && isSectionSelected}">
					            	<h2 ng-click="addFieldsTOSection($index)" >{{field.lable}} <small>To adding the widgets to Section, click on Section name and select widegts form UI Buzz</small></h2>

					                <ul class="actions">
					                    <li class="dropdown" uib-dropdown="">
					                        <a href="" uib-dropdown-toggle="" aria-expanded="false" class="dropdown-toggle" aria-haspopup="true">
					                            <i class="zmdi zmdi-more-vert"></i>
					                        </a>

					                        <ul class="dropdown-menu dropdown-menu-right">
					                            <li>
					                                <a ng-click="setSectionProperties($index)">Set Properties</a>
					                            </li>
					                        </ul>
					                    </li>
					                </ul>
					            </div>

					            <div class="card-body card-padding ch-alt">
					               	<div ng-init="ind=$parent.index"ng-repeat="field in field.type.fields" data-ng-include="'views/widgetsCommonProcess.html'" >
					               		
					               	</div>
					               	<div ng-init="ind=$parent.index"ng-repeat="field in field.type.groups" data-ng-include="'views/sectionGroups.html'">
					               		<div>{{field}}</div>
					               		<hr>
					               	</div>
					            </div>
        					</div>
					
						  </span>  

						  <span ng-switch-default>  
						      <span>Unknown widget</span>  
						  </span>  
						</span> 
					</div>
			</form>
		  
		 <input type="button" class="btn btn-red" value="SaveForm" ng-click="saveForm(formName)" ng-disabled="discountForm.$invalid"/>
	
    </div>
