<div class="container" ng-init="topViewsfun()">
    <div class="block-header">
        <h2><i class="zmdi zmdi-collection-text" ></i> Formsz</h2>
        <button  ng-if="userType=='1'"class="btn bt-icon bgm-red pull-right waves-effect waves-circle" ng-click="createFormModal()" style='margin-left: 30px'><md-tooltip md-direction="top">Create New Form</md-tooltip><i class="zmdi zmdi-plus"></i></button>

        <button ng-if="userType=='2'" ng-hide="saveFormButton" class="btn bt-icon bgm-red pull-right waves-effect waves-circle" ng-click="submitFormDetails(selectedFormRecordFields)"><md-tooltip md-direction="top">Save Form</md-tooltip><i class="material-icons">save</i></button>

      <ol class="breadcrumb" id="cursorList">
         <li ng-repeat="view in topViews" ng-switch on ="view">
          <a  ng-switch-when="Home">{{view}}</a>
          <a  ng-switch-when="Formsz" ng-click="topViewForms()" >{{view}}</a>
          <a ng-switch-default>{{view}}</a>
        </li>
      </ol>      
    </div>
    <div ui-view></div>
</div>