<form class="form-horizontal" role="form">
<div class="card-header">
    <button type="button" class="close" ng-click="dialogClose()" ><span aria-hidden="true">&times;</span></button>
    <h2 class="c-blue">Form updation</h2>
</div>

<div class="card-body card-padding">
    <div ng-show="isCopyFromnameHide">
       The operation may lead to loss of existing data (if any) , Do you wish to continue ? 
    </div>
    <div class="form-group">
        <div ng-if="isCopyFromnameHide === false">
            <p><span style="color:red">Note: </span>You can rename the copied form.</p>

            <div class="col-md-6">
                <div class="fg-line">
                    <input type="text" focus-me="true" class="form-control input-sm" ng-model="$parent.copyFormname" ng-blur="isFormExists()">
                </div>
                <small class ="help-block" ng-show="isFromExist" style="color:red">Form name already in use</small>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-8 col-md-6">
            <button class="btn btn-primary btn-xs" type="button" ng-click="updateForm()" ng-show="isCopyFromnameHide">Update</button>
            <button class="btn btn-success btn-xs" type="button" ng-click="toggleFormcopiedName()" ng-show="isCopyFromnameHide">Copy</button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="copyForm()" ng-hide="isCopyFromnameHide" ng-disabled="isFromExist">Go</button>
            <button class="btn btn-primary btn-xs" type="button" ng-click="goBackandShowFormCopiedOption()" ng-hide="isCopyFromnameHide">Back</button> 
            <button class="btn btn-danger btn-xs" type="button" ng-click="dialogClose()" ng-show="isCopyFromnameHide">Cancel</button>
        </div>
    </div>
</div>
</form>