

<div class="row col-md-12 tablet-preview" style="padding-right:10%">
	<form class="form-horizontal submitForm" role="form" name="flngForm">
		<div ng-repeat="field in fields track by $index">
				<div data-ng-include="'views/widgetsForSubmition.html'"></div>  
		</div>
	</form>
	
</div>
