<div class="card" ng-init="getFormszList(defaultPage)"> 
    <div class="card-header ch-alt m-b-20" ng-hide="cssHeaderForm">
        <h2><i class="zmdi zmdi-collection-text" ></i> Formsz ({{formszList.length}})<small>Showing {{filteredformsz.length}} out of {{formszList.length}} records.</small></h2>
        <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="openFilterForm()">
                    <md-tooltip md-direction="left">Search Forms</md-tooltip> <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <input type="text"  placeholder="Start typing..." class="lvhs-input"  ng-model="$parent.searchByform.name" ng-hide="searchBarHideForm">
    <i class="lvh-search-close" data-ng-click="closeFilterForm()" ng-hide="searchBarHideForm">&times;</i>
    <div class="card-body card-padding">
        <div class="row animated zoomIn">
           <p class="text text-danger text-center" ng-if="formszList.length <1 || filteredformsz.length<1 " >No results found</p>

            <div class="col-md-4" ng-repeat="data in filteredformsz = (formszList | filter:searchByform) track by $index" ng-hide="FormszListHide">
                <md-card>
                
                    <md-card-header ng-if="userType=='1'">
                        <md-card-avatar>
                           <img class="md-user-avatar" src="images/formszImg.png">
                        </md-card-avatar>
                        <md-card-header-text>
                           <span class="md-title">{{data.name}}</span>
                           <span class="md-subhead">{{data.createdtime}}</span>
                        </md-card-header-text>
                    </md-card-header>

                    <md-card-header  ng-if="userType=='2'" ng-click="submitForm(data._id,data.name,'lg')">
                    <md-card-avatar>
                       <img class="md-user-avatar handPointer " src="images/formszImg.png">
                    </md-card-avatar>
                    <md-card-header-text>
                       <span class="md-title">{{data.name}}</span>
                       <span class="md-subhead">{{data.createdtime}}</span>
                    </md-card-header-text>
                </md-card-header>
                    <md-card-icon-actions ng-if="userType=='1'"  style="background-color:#E9E9E9;opacity:0.4">
                        <md-button aria-label="View" class="md-icon-button" ng-click="viewForm(data._id,data.name,'lg')">
                            <md-tooltip md-autohide="false">View</md-tooltip>
                            <md-icon aria-label="View">&#xE8A0;</md-icon>
                        </md-button>

                        <md-button aria-label="Edit" class="md-icon-button" ng-click="editForm(data)">
                            <md-tooltip md-autohide="false">Edit</md-tooltip>
                            <md-icon aria-label="Edit">&#xE3C9;</md-icon>
                        </md-button>

                        <md-button aria-label="Delete" class="md-icon-button" ng-click="delete_Form(data)">
                            <md-tooltip md-autohide="false">Delete </md-tooltip>
                            <md-icon aria-label="Delete">delete_forever</md-icon>
                        </md-button>

                        <md-button aria-label="Get Records" class="md-icon-button" ng-click="getForms(data.name,data._id)">
                            <md-tooltip md-autohide="false">Get Records</md-tooltip>
                            <md-icon aria-label="Get Records">&#xE8B0;</md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card>
            </div>
            <!-- End Col-md-4 -->
        </div>
    <!-- End Row -->
    <!-- <uib-pagination boundary-links="true" max-size="maxSize" items-per-page="limit" total-items="total_count" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="getFormszList(currentPage);"  ></uib-pagination> -->
    </div>
    <!-- End Card Body -->
</div>