<div class="card" ng-init="Filterval.startDate= convertToDate(currentDate) | date:'yyyy/MM/dd';Filterval.endDate= convertToDate(currentDate) | date:'yyyy/mm/dd'; filterFormsz(Filterval.startDate,Filterval.endDate,Filterval.userlist,true)">
   <div class="card-body card-padding" data-ng-controller="DatepickerDemoCtrl">
      <form class="row" role="form"  name="tableRecords">
         <div class="col-sm-3">
            <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
               <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }" show-errors>
                  <md-datepicker 
                     ng-model="Filterval.startDate" 
                     md-placeholder="Enter date"
                     md-max-date="currentDate"
                     name="Fromdate"
                     ng-required="true"
                     ng-change = "dateComp(Filterval.startDate,Filterval.endDate)">
                  </md-datepicker>
                  <span ng-show="tableRecords.startDate.$dirty.required"></span>
               </div>
            </div>
         </div>

         <div class="col-sm-3">
            <div class="date-picker input-group dp-blue" ng-class="{ 'is-opened': opened2 == true }" >
               <div class="fg-line" ng-class="{ 'fg-toggled': opened2 == true }" show-errors>
                  <md-datepicker 
                     ng-model="Filterval.endDate" 
                     md-placeholder="Enter date"
                     md-min-date="Filterval.startDate" 
                     name="Todate"
                     ng-required="true"
                     md-max-date="currentDate"
                     >
                  </md-datepicker>
               </div>
               <small class="help-block">{{errMessage}}</small>
            </div>
         </div>

         <div class="col-sm-3" style="margin-top:-15px;">
               <md-input-container>
                     <md-select ng-model="Filterval.userlist" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" >
                     <md-select-header class="demo-select-header">
                           <input ng-model="searchTerm" type="search"  class="demo-header-searchbox _md-text">
                     </md-select-header>
                  <md-option  ng-repeat="group in userslist |
                        filter:searchTerm">{{group}}</md-option>
                  </md-select>
               </md-input-container>
         </div>

         <div class="col-sm-3">
            <button type="submit" ng-click="filterFormsz(Filterval.startDate,Filterval.endDate,Filterval.userlist,tableRecords.$valid)" ng-disabled="!tableRecords.$valid" class="btn btn-default btn-sm m-t-5 waves-effect"><i class="zmdi zmdi-filter-list zmdi-hc-fw"></i> Filter</button>
         </div>
      </form>

      
   </div>
   <div ui-view ng-show="isRecordsAvilable"></div>
   <div style="color:red;padding-left:40%;padding-right:50%;padding-bottom:3%" ng-hide="isRecordsAvilable" >{{nodataAvailable}}</div>
</div>
