<div class="card" ng-init="getTemplateList(defaultPage)"> 
    <div class="card-header ch-alt m-b-20" ng-hide="cssHeader">
        <h2><i class="zmdi zmdi-collection-text"></i> Templates ({{total_count}}) <small>Showing {{filteredTemplates.length}} out of {{total_count}} records.</small></h2>
        <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="openFilter()">
                    <md-tooltip md-direction="left">Search Template</md-tooltip> <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <input type="text"  placeholder="Start typing..." class="lvhs-input"  ng-model="$parent.searchBy.name" ng-hide="searchBarHide">
    <i class="lvh-search-close" data-ng-click="closeFilter()" ng-hide="searchBarHide">&times;</i>


<div class="card-body card-padding">
    <div class="row animated zoomIn">

        <p class="text text-danger text-center" ng-if="templateList.length <1 || filteredTemplates.length<1 " >No results found</p>

        <div class="col-md-4" ng-repeat="data in filteredTemplates = (templateList | filter:searchBy) track by $index" >
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                       <img class="md-user-avatar" src="images/formszImg.png">
                    </md-card-avatar>
                    <md-card-header-text>
                       <span class="md-title">{{data.name}}</span>
                       <span class="md-subhead">{{data.createdtime}}</span>
                    </md-card-header-text>
                </md-card-header>
                <md-card-icon-actions  style="background-color:#E9E9E9;opacity:0.4">
                    <md-button aria-label="View" class="md-icon-button" ng-click="viewForm(data._id,data.name,'lg')">
                        <md-tooltip md-autohide="false">View</md-tooltip>
                        <md-icon aria-label="View">&#xE8A0;</md-icon>
                    </md-button>

                    <md-button aria-label="Edit" class="md-icon-button" ng-click="editTemplate(data)">
                        <md-tooltip md-autohide="false">Edit</md-tooltip>
                        <md-icon aria-label="Edit">&#xE3C9;</md-icon>
                    </md-button>

                    <md-button aria-label="Delete" class="md-icon-button" ng-click="deleteTemplate(data)">
                        <md-tooltip md-autohide="false">Delete </md-tooltip>
                        <md-icon aria-label="Delete">delete_forever</md-icon>
                    </md-button>
                </md-card-icon-actions>
            </md-card>
        </div>
    </div>
    <uib-pagination boundary-links="true" max-size="maxSize" items-per-page="limit" total-items="total_count" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="getTemplateList(currentPage);"  ></uib-pagination>
</div>
</div>