<div class="card" ng-init="getTemplateList(defaultPage)"> 

    <div class="card-header ch-alt m-b-20" ng-hide="cssHeader">
        <h2><i class="zmdi zmdi-collection-text"></i> Templates ({{total_count}})<small>Showing {{filteredTemplates.length}} out of {{total_count}} records.</small></h2>
        <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="openFilter()">
                    <md-tooltip md-direction="left">Search Template</md-tooltip> <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <input type="text"  placeholder="Start typing..." class="lvhs-input"  ng-model="$parent.searchBy.name" ng-hide="searchBarHide">
    <i class="lvh-search-close" data-ng-click="closeFilter()" ng-hide="searchBarHide">&times;</i>


<div class="card-body card-padding">
    <div class="row animated zoomIn">

        <p class="text text-danger text-center" ng-if="templateList.length <1 || filteredTemplates.length<1 " >No results found</p>
        
        <div class="col-md-4" ng-repeat="data in filteredTemplates = (templateList | filter:searchBy) track by $index" >
            <div class="t-view">
                <div class="tv-header media z-depth-1">
                    <a href="" class="tvh-user pull-left">
                        <img class="img-responsive" src="images/formszImg.png" alt="">
                    </a>
                    <div class="media-body p-t-5">
                        <strong class="d-block">{{data.name}}</strong>
                     </div>
                    <ul class="actions m-t-20">
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="" ng-click="importTemplateAsForm(data)"><i class="zmdi zmdi-swap-vertical zmdi-hc-fw"></i> Import as form</a>
                                </li>
                                <li>
                                    <a href="" ng-click="viewForm(data._id,data.name,'lg')"><i class="zmdi zmdi-eye"></i>View</a>
                                </li>
                                
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    
    <uib-pagination boundary-links="true" max-size="maxSize" items-per-page="limit" total-items="total_count" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="getTemplateList(currentPage);"  >
    </uib-pagination>
</div>
</div>