<div class="card">
 
<div class="card-header ch-alt">
    <h2>Formsz Grid View</h2>
    
     <ul class="actions">
            <li>
                <a href=""  ng-click="backToTablerview()">
                <md-tooltip md-autohide="false">Back to Tabler view</md-tooltip>
                <i class="material-icons">keyboard_backspace</i>
                </a>
            </li>
        </ul>
</div>
<div class="card-body card-padding">
   <div class="row" id="mainDiv">
        <div class="col-sm-4" ng-repeat="val in formRecordData track by $index" ng-init="recordsData=getSub(val)">

            <div class="card" style="background-color: #E5E5E5;word-break: break-all;">
            
                <div class="card-body card-padding">
                    <!-- <dl class="dl-horizontal">
                        <dt>Primarykey:</dt>
                        <dd>{{val._id}}</dd>
                    </dl> -->
                   
                    <dl class="dl-horizontal" ng-repeat="field in recordsData track by $index">
                   
                        <dt ng-if="field.isPrimary == true">{{field.fieldName}} :</dt>
                        <dd ng-if="field.isPrimary == true">{{field.fieldValue}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Submited By :</dt>
                        <dd>{{val.updatedBy}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Submited Date :</dt>

                        <dd>{{val.updatedTime | date:'MM/dd/yyyy'}}</dd>
                    </dl>
                    <dl class="dl-horizontal">
                        <dt>Submited Time :</dt>
                        
                        <dd>{{val.updatedTime | date:'HH:mm:ss'}}</dd>
                    </dl>
                    <a href="" class="lv-footer"  ng-click="gridRecords(val,val._id,'lg')">View Form</a>
                </div>
            </div>
             
        </div>
    </div>
</div>
</div>