	<!-- Start Switch -->
	<div ng-switch on="field.type.view">
		<!--[CASE-1] TEXTBOX -->
		<div ng-switch-when="textbox">
			<div class="form-group">
	        	<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
		        <div class="col-sm-8 m-t-5 m-b-15">
		            <div class="fg-line">
		                <input type="text" ng-if="!isGridRecodsShow" class="form-control input-sm" ng-model='field.defaultValue' placeholder ='{{field.placeHolder}}' ng-required='{{field.required}}' disabled="{{readOnly}}">

		                <input ng-if="isGridRecodsShow" type="text" ng-model="selectedFormRecordFields[field.lable]" class="form-control input-sm"  placeholder ='{{field.placeHolder}}' ng-required='{{field.required}}' disabled="{{readOnly}}"  >
		            </div>
		        </div>
		    </div>
		</div>
		<!--[CASE-2] TEXTAREA -->
		<div ng-switch-when="textarea">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
				<div class="col-sm-8 m-t-5 m-b-15">
                <div class="fg-line">
                    <textarea ng-if="!isGridRecodsShow" class="form-control" rows="3" placeholder='{{field.placeHolder}}' ng-model='field.defaultValue' disabled="{{readOnly}}"></textarea>

                    <textarea ng-if="isGridRecodsShow" ng-model="selectedFormRecordFields[field.lable]" class="form-control" rows="3" placeholder='{{field.placeHolder}}'  disabled="{{readOnly}}"></textarea>

                </div>
                </div>
            </div>
		</div>
		<!-- [CASE-3] CHECKBOX -->
		<div ng-switch-when="checkbox">
			<div class="col-md-12">
			<label class="col-md-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
			<div class="col-md-9 m-t-5 m-b-15">
                <label class="checkbox checkbox-inline m-b-15 m-l-0 col-sm-3" ng-repeat="item in field.type.values">
                    <input ng-if="!isGridRecodsShow" type="checkbox" ng-checked="field.defaultValue === item.lable" disabled="{{readOnly}}"/>
                    <input ng-if="isGridRecodsShow" type="checkbox" ng-checked="selectedFormRecordFields[field.lable][$index] === item.lable" disabled="{{readOnly}}"/>
                    <i class="input-helper"></i>
                    {{ item.lable }}
                </label>
            </div>
            </div>
		</div>

		<!-- [CASE-4] RADIO BUTTON-->
		<div ng-switch-when="radio">
			<div class="form-group">
			<label class="col-md-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
			<div class="col-md-9 m-t-5 m-b-15">
                <label class="radio radio-inline m-b-15 m-l-0 col-sm-3" ng-repeat="item in field.type.values">
                    <input ng-if="!isGridRecodsShow" type="radio" ng-checked="field.defaultValue === item.lable" disabled="{{readOnly}}">
                    <input ng-if="isGridRecodsShow" type="radio" ng-checked="selectedFormRecordFields[field.lable] === item.lable"  disabled="{{readOnly}}">
                    <i class="input-helper"></i>
                    {{item.lable}}
                </label>
			</div>
			</div>
		</div>
		<!-- [CASE-5] SELECT-->
		<div ng-switch-when="select">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}}:
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                <div class="fg-line">
                    <div class="select">
                        <select ng-if="!isGridRecodsShow" class="form-control" ng-model="field.defaultValue" ng-options="option.value as option.lable for option in field.type.values" disabled="{{readOnly}}"></select>

                        <select ng-if="isGridRecodsShow" class="form-control" ng-model="selectedFormRecordFields[field.lable]" ng-options="option.value as option.lable for option in field.type.values" disabled="{{readOnly}}"></select>

                    </div>
                </div>
                </div>
            </div>
		</div>
		<!-- [CASE-6] CAMERA-->
		<div ng-switch-when="camera" >
			<div class="form-group">
				<label class="col-sm-3 control-label">{{field.lable}} 
					<em style="color:red" ng-hide="!field.required">*</em>
				</label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<div class="fileinput-preview thumbnail" data-trigger="fileinput" 
                	style="height: 150px;width:150px;border:1px solid #EEE;">
                		<img ng-if="isGridRecodsShow" ng-src="{{selectedFormRecordFields[field.lable].split('Image_____')[1]}}"></img>
                	</div>
                </div>
            </div>
		</div>

		<!-- [CASE-7] CALENDER-->
		<div ng-switch-when="calender">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<md-datepicker ng-if="!isGridRecodsShow" ng-model="currentDate" md-placeholder="{{field.placeHolder}}" disabled="{{readOnly}}"></md-datepicker>
                	<input type="text" ng-if="isGridRecodsShow"  md-placeholder="{{field.placeHolder}}" ng-model="selectedFormRecordFields[field.lable]" disabled="{{readOnly}}">
                </div>
            </div>
		</div>

		<!-- [CASE-8] BARCODE-->
		<div ng-switch-when="barcode">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
		            <input ng-if="isGridRecodsShow" type="text" ng-model="selectedFormRecordFields[field.lable]" class="form-control input-sm" disabled="{{readOnly}}">
                </div>
            </div>
		</div>
		
		<!-- [CASE-9] SIGNATURE -->
		<div ng-switch-when="sign">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<img ng-if="!isGridRecodsShow" src="images/sign.png" class="sign-image"></img>
                	<img   ng-if="isGridRecodsShow" ng-src="{{selectedFormRecordFields[field.lable].split('Image_____')[1]}}"></img>
                </div>
            </div>
		</div>

		<div ng-switch-when="rating">
			<div class="form-group">
	        	<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
		        <div class="col-sm-8 m-t-5 m-b-15">
		            <div class="fg-line">
		            	<md-slider-container layout="row" ng-if="!isGridRecodsShow">
		                  <md-slider flex md-discrete step="1" ng-disabled="true"
		                  min="{{field.min}}" max="{{field.max}}" ng-model="field.defaultValue" id="red-slider">
		                  </md-slider>
		                  <md-input-container>
		                    <input flex type="number" ng-model="field.defaultValue" aria-label="red" aria-controls="red-slider">
		                  </md-input-container>
                  		</md-slider-container>

                  		<md-slider-container layout="row" ng-if="isGridRecodsShow">
		                  <md-slider flex md-discrete step="1" ng-disabled="true"
		                  min="{{field.min}}" max="{{field.max}}" ng-model="selectedFormRecordFields[field.lable]" id="red-slider">
		                  </md-slider>
		                  <md-input-container>
		                    <input flex type="number" ng-model="field.defaultValue" aria-label="red" aria-controls="red-slider">
		                  </md-input-container>
                  		</md-slider-container>

		                
		            </div>
		        </div>
		    </div>
		</div>

		<!-- [CASE-10] MAP LOCATION -->
		<div ng-switch-when="map">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<img ng-if="!isGridRecodsShow" src="images/map.png" class="sign-image"></img>
                </div>
            </div>
		</div>
		
		<!-- [CASE-11] GROUP VIEW-->
		<div ng-switch-when="group">
			<div class="card m-l-10 m-r-10" style="border:1px solid rgba(140, 132, 131, 0.26);">
				<div class="card-header ch-alt">
					<h2>{{field.lable}}</h2>
				</div>
				<div class="card-body card-padding">
					<div class="row">
						<div ng-repeat="field in field.type.fields" data-ng-include="'views/groupWidgetsPreview.html'"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- [CASE-10] SECTION VIEW-->
		<div ng-switch-when="section">
			<div class="card m-l-10 m-r-10" style="border:1px solid rgba(140, 132, 131, 0.26);">
				<div class="card-header ch-alt">
					<h2>{{field.lable}}</h2>
				</div>
				<div class="card-body card-padding ch-alt">
					<div ng-repeat="field in field.type.fields">
						<div ng-switch on="field.type">
							<div ng-switch-when='field'>
								<div class="row">
									<div data-ng-include="'views/sectionWidgetsPreview.html'"></div>
								</div>
							</div>

							<div ng-switch-when='group'>
								<div class="card m-l-10 m-r-10" style="border:1px solid rgba(140, 132, 131, 0.26);">
									<div class="card-header ch-alt">
								        <h2>{{field.data.lable}}</h2>
								    </div>
								    <div class="card-body card-padding">
								    	<div ng-init="placeOfWidgets = 'group'" ng-repeat="field in field.data.type.fields">
								    		<div class="row">
								    		<div data-ng-include="'views/groupWidgetsPreview.html'">
								    			
								    		</div>
								    		</div>
								    	</div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [DEFAULT CASE] -->
		<div ng-switch-default>
			<p>Unknown widget</p>
		</div>
		<!-- END ALL CASES -->
	</div>
	<!-- End Switch -->
		  	


