<span ng-switch on="field.type.view">  
<span ng-switch-when="textbox"  > 

	<md-card style="border:1px solid #A8A8A8">
		 	<md-card-content layout="row" layout-align="space-between">
		 	<label  >{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> :</label>
	    <div >
	        <div class="fg-line">
	             <input    
	              type="text"
	              placeholder ='{{field.placeHolder}}'
	              ng-required='{{field.required}}'
	          	/>
	        </div>
	    </div>
		<md-card-actions layout="row" layout-align="end center">
	      <md-button class="md-icon-button" aria-label="Settings" ng-click="isCollapsed = !isCollapsed;setTextboxproperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)" >
	        <md-icon>settings</md-icon>
	        <md-tooltip md-direction="top" md-visible="tooltipVisible">Set Properties</md-tooltip>
	      </md-button>
	      <md-button class="md-icon-button" aria-label="Share" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)">
	        <md-icon>delete_forever</md-icon>
	        <md-tooltip md-direction="top" md-visible="tooltipVisible">Delete</md-tooltip>
	      </md-button>
	    </md-card-actions>
	    </md-card-content>
	</md-card>
	<md-card style="border:1px solid #A8A8A8" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
		<div  data-ng-include="'views/textBoxPropetiresModel.html'"></div>
	</md-card> 
	                    				
</span>  
<span ng-switch-when="textarea" class="row" >  
	<md-card style="border:1px solid #A8A8A8">
	 	<md-card-content layout="row" layout-align="space-between">
	 	<label  >{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> :</label>
    <div >
        <textarea placeholder='{{field.placeHolder}}'></textarea>
    </div>
	<md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="isCollapsed = !isCollapsed;setTextareaProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
        <md-icon>settings</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Set Properties</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)">
        <md-icon>delete_forever</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Delete</md-tooltip>
      </md-button>
    </md-card-actions>
    </md-card-content>
    </md-card>
	<md-card style="border:1px solid #A8A8A8" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
		<div  data-ng-include="'views/textAreaPropertiesModel.html'"></div>
	</md-card>

</span>  
<span ng-switch-when="checkbox" class= "row">  
<md-card style="border:1px solid #A8A8A8">
		
	 	<md-card-content layout="row" layout-align="space-between">
	 	<label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> :</label>
    <fieldset class="standard">
      <div layout="row" layout-wrap flex>
        <div ng-repeat="item in field.type.values" class="standard" >
          <label>
            <input type="checkbox" ng-checked="exists(item.lable, selected)"
                   ng-click="toggle(item, selected)"/>
            {{ item.lable }}
          </label>
        </div>
      </div>
    </fieldset>
  

	<md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="isCollapsed = !isCollapsed;setCheckboxProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)" >
        <md-icon>settings</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Set Properties</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)">
        <md-icon>delete_forever</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Delete</md-tooltip>
      </md-button>
    </md-card-actions>
    </md-card-content>
    </md-card>
    <md-card style="border:1px solid #A8A8A8" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index ">
		<div  data-ng-include="'views/checkBoxPropertiesModel.html'"></div>
</md-card>
   
</span> 
<span ng-switch-when="radio" class= "row" >  
<md-card style="border:1px solid #A8A8A8">
	 	<md-card-content layout="row" layout-align="space-between">
	 	<label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> :</label>
    <fieldset class="standard">
      <div layout="row" layout-wrap flex>
        <div ng-repeat="item in field.type.values" class="standard" >
          <label>
            <input type="radio"
                   ng-click="toggle(item, selected)"/>
            {{ item.lable }}
          </label>
        </div>
      </div>
    </fieldset>
  

	<md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="isCollapsed = !isCollapsed;setRadioButtonProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)" >
        <md-icon>settings</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Set Properties</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)">
        <md-icon>delete_forever</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Delete</md-tooltip>
      </md-button>
    </md-card-actions>
    </md-card-content>
    </md-card>
    <md-card style="border:1px solid #A8A8A8" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
		<div  data-ng-include="'views/radioButtonProperties.html'"></div>
</md-card>

</span> 

<span ng-switch-when="select" class="row">
<md-card style="border:1px solid #A8A8A8">
	 	<md-card-content layout="row" layout-align="space-between">
	 	<label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> :</label>
    <select class="col-md-6" >
		<option ng-repeat="option in field.type.values" 	value="{{option.id}}">{{option.lable}}</option>
	
		</select>

	<md-card-actions layout="row" layout-align="end center">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="isCollapsed = !isCollapsed;setDropdownProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
        <md-icon>settings</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Set Properties</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Share" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)">
        <md-icon>delete_forever</md-icon>
        <md-tooltip md-direction="top" md-visible="tooltipVisible">Delete</md-tooltip>
      </md-button>
    </md-card-actions>
    </md-card-content>
    </md-card>
    <md-card style="border:1px solid #A8A8A8" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index ">
		<div  data-ng-include="'views/dropdownPropertiesModel.html'"></div>
</md-card>
</span>

								  



