<span ng-switch on="field.type.view">

<!-- [CASE-1] TEXTBOX -->
<div class="card animated fadeInDown" ng-switch-when="textbox" style="border:1px solid #E5E5E5">
    <div class="card-header ch-alt">
      <h2><i class="fa fa-dot-circle-o fa-1x"></i>TEXTBOX</h2>
        <ul class="actions">
          <li>
            <a href="" ng-click="isCollapsed = !isCollapsed;setTextboxproperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
              <i class="zmdi zmdi-caret-down-circle"></i>
            </a>
          </li>
          <li>
            <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
          </li>
        </ul>
    </div>
    
    <div class="card-body card-padding" >
      <form class="form-horizontal" role="form">
          <div class="card-body card-padding">
          <div class="form-group" style="margin-bottom:20px;">
            <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
              <div class="col-sm-10">
                <div class="fg-line disabled">
                <input type="text" class="form-control input-sm" placeholder ='{{field.placeHolder}}'
                ng-required='{{field.required}}'
                ng-model='field.defaultValue' 
                disabled="{{skeltonWidgetReadonly}}"
                />
                </div>
              </div>
          </div>
          </div>
      </form>
      <!-- TEXTBOX PROPERTIES WIDGET -->
      <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
        <div class="card-header bgm-teal ch-alt">
          <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
          <h2><i class="fa fa-check-square fa-1x"></i>TextBox Properties</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row" data-ng-include="'views/textBoxPropetiresModel.html'">
              
            </div>
        </div>
      </div>
      <!-- END TEXTBOX PROPERTIES WIDGET -->
    </div>
</div>





<!-- [CASE-2] TEXTAREA -->
<div class="card animated fadeInDown" ng-switch-when="textarea" style="border:1px solid #E5E5E5">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>TEXTAREA</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setTextareaProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form">
      <div class="card-body card-padding">
      

      <div class="row">
          <div class="form-group">
           <label class="col-sm-3 control-label" for="singleSelect">{{ field.lable }} <em style="color:red" ng-hide="!field.required">*</em></label>
           <div class="col-sm-6">
            <div class="fg-line disabled">
                <textarea class="form-control" rows="3" placeholder='{{field.placeHolder}}' ng-model='field.defaultValue' disabled="{{skeltonWidgetReadonly}}"></textarea>
            </div>
           </div> 
        </div>
        </div>
      </div>
    </form>
    <!-- TEXTAREA PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
        <h2><i class="fa fa-check-square fa-1x"></i>Textarea Properties</h2>
      </div>
      <div class="card-body card-padding">
      <div class="row" data-ng-include="'views/textAreaPropertiesModel.html'"></div>
      </div>
    </div>
    <!-- END TEXTAREA PROPERTIES WIDGET -->
  </div>
</div>

<!-- [CASE-3] CHECKBOX -->
<div class="card animated fadeInDown" ng-switch-when="checkbox" style="border:1px solid #E5E5E5">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>CHECKBOX</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setCheckboxProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form">
      <div class="card-body card-padding">
      
      <p>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em></p>

      <div class="form-group" ng-repeat="item in field.type.values" class="standard">
          <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" ng-checked="field.defaultValue === item.lable" disabled="{{skeltonWidgetReadonly}}">
                      <i class="input-helper"></i>
                      {{ item.lable }}
                  </label>
              </div>
          </div>
      </div>
      </div>
    </form>
    <!-- CHECKBOX PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
        <h2><i class="fa fa-check-square fa-1x"></i>CHECKBOX Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/checkBoxPropertiesModel.html'">
          
        </div>
      </div>
    </div>
    <!-- END CHECKBOX PROPERTIES WIDGET -->
  </div>
</div>


<!-- [CASE-4] RADIO BUTTON -->
<div class="card animated fadeInDown" ng-switch-when="radio" style="border:1px solid #E5E5E5">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>RADIO</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setRadioButtonProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <p class="c-black f-500 m-b-20">{{ field.lable }} <em style="color:red" ng-hide="!field.required">*</em></p>

    <div class="radio m-b-15" ng-repeat="item in field.type.values">
        <label>
            <input type="radio" ng-checked="field.defaultValue === item.lable" disabled="{{skeltonWidgetReadonly}}">
            <i class="input-helper"></i>
            {{ item.lable }}
        </label>
    </div>
    <!-- RADIO PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
        <h2><i class="fa fa-check-square fa-1x"></i>RADIO Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/radioButtonProperties.html'">
          
        </div>
      </div>
    </div>
    <!-- END radio PROPERTIES WIDGET -->
  </div>
</div>

<!-- [CASE-5] SELECT DROPDOWN-->
<div class="card animated fadeInDown" ng-switch-when="select" style="border:1px solid #E5E5E5">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>SELECT</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setDropdownProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <!-- <p class="c-black f-500 m-b-20">{{ field.lable }} <em style="color:red" ng-hide="!field.required">*</em></p>

    <select ng-model="field.defaultValue" ng-options="option.value as option.lable for option in field.type.values" disabled="{{skeltonWidgetReadonly}}"></select> -->

    <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="singleSelect">{{ field.lable }} <em style="color:red" ng-hide="!field.required">*</em></label>
          <div class="col-sm-6">
          <div class="fg-line disabled">
              <div class="select">
                <select class="form-control w-100" ng-model="field.defaultValue" ng-options="option.value as option.lable for option in field.type.values" disabled="{{skeltonWidgetReadonly}}">
                  
                </select>
              </div>
          </div>
          </div>
        </div>
    </div>
    <!-- SELECT PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
        <h2><i class="fa fa-check-square fa-1x"></i>DropDown Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/dropdownPropertiesModel.html'">
          
        </div>
      </div>
    </div>
    <!-- END SELECT PROPERTIES WIDGET -->
  </div>
</div>

<!-- [CASE-6] CALENDER-->
<div class="card animated fadeInDown" ng-switch-when="calender" style="border:1px solid #E5E5E5;">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>{{ field.lable }} CALENDER</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setButtonproperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <label  >{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> :</label>
    <md-datepicker ng-model="currentDate" md-placeholder="{{field.placeHolder}}" disabled="{{skeltonWidgetReadonly}}"></md-datepicker>
    <!-- CALENDER PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
        <h2><i class="fa fa-check-square fa-1x"></i>CALENDER Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/calenderPropertiesModel.html'">
          
        </div>
      </div>
    </div>
    <!-- END CALENDER PROPERTIES WIDGET -->
  </div>
</div>

<!-- [CASE-7] CAMERA-->
<div class="card animated fadeInDown" ng-switch-when="camera" style="border:1px solid #E5E5E5">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>CAMERA</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setCameraproperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <!-- CAMERA PROPERTIES WIDGET -->
    <label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> : <md-icon>camera_alt</md-icon></label>

    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
        <h2><i class="fa fa-check-square fa-1x"></i>Camera Properties</h2>
      </div>
      <div class="card-body card-padding">
          <div class="row"  data-ng-include="'views/CameraPropertiesModel.html'">
            
          </div>
      </div>
    </div>
    <!-- END CAMERA PROPERTIES WIDGET -->
  </div>
</div>

<!-- [CASE-8] BARCODE -->
<div class="card animated fadeInDown" ng-switch-when="barcode" style="border:1px solid #e5e5e5">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>BARCODE</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setBarcodeproperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
   <label>{{ field.lable }}<em style="color:red" ng-hide="!field.required">*</em> : <md-icon>fingerprint</md-icon></label>
    <!-- BARCODE PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
        <h2><i class="fa fa-check-square fa-1x"></i>BARCODE Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/barcodePropertiesModel.html'">
          
        </div>
      </div>
    </div>
    <!-- END BARCODE PROPERTIES WIDGET -->
  </div>
</div>
<!-- [CASE-9] signature -->
<div class="card animated fadeInDown" ng-switch-when="sign" style="border:1px solid #E5E5E5">
    <div class="card-header ch-alt">
      <h2><i class="fa fa-dot-circle-o fa-1x"></i>Signature</h2>
        <ul class="actions">
          <li>
            <a href="" ng-click="isCollapsed = !isCollapsed;setSignproperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
              <i class="zmdi zmdi-caret-down-circle"></i>
            </a>
          </li>
          <li>
            <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
          </li>
        </ul>
    </div>
    
    <div class="card-body card-padding" >
      <form class="form-horizontal" role="form">
          <div class="card-body card-padding">
          <div class="form-group" style="margin-bottom:20px;">
            <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
              <div class="col-sm-10">
                <div class="fg-line disabled">
                   <img src="images/sign.png" class="sign-image"></img>

                </div>
              </div>
          </div>
          </div>
      </form>
      <!-- TEXTBOX PROPERTIES WIDGET -->
      <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
        <div class="card-header bgm-teal ch-alt">
          <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
          <h2><i class="fa fa-check-square fa-1x"></i>Signature Properties</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row" data-ng-include="'views/signaturePropertiesModel.html'">
              
            </div>
        </div>
      </div>
      <!-- END TEXTBOX PROPERTIES WIDGET -->
    </div>
</div>

<!-- [CASE-10] MAP -->
<div class="card animated fadeInDown" ng-switch-when="map" style="border:1px solid #E5E5E5">
    <div class="card-header ch-alt">
      <h2><i class="fa fa-dot-circle-o fa-1x"></i>Map</h2>
        <ul class="actions">
          <li>
            <a href="" ng-click="isCollapsed = !isCollapsed;setMapproperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
              <i class="zmdi zmdi-caret-down-circle"></i>
            </a>
          </li>
          <li>
            <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
          </li>
        </ul>
    </div>
    
    <div class="card-body card-padding" >
      <form class="form-horizontal" role="form">
          <div class="card-body card-padding">
          <div class="form-group" style="margin-bottom:20px;">
            <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
              <div class="col-sm-10">
                <div class="fg-line disabled">
                   <img src="images/map.png" class="sign-image"></img>

                </div>
              </div>
          </div>
          </div>
      </form>
      <!-- TEXTBOX PROPERTIES WIDGET -->
      <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
        <div class="card-header bgm-teal ch-alt">
          <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
          <h2><i class="fa fa-check-square fa-1x"></i>Signature Properties</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row" data-ng-include="'views/mapPropertiesModel.html'">
              
            </div>
        </div>
      </div>
      <!-- END TEXTBOX PROPERTIES WIDGET -->
    </div>
</div>


<!-- [CASE-11] RATING -->
<div class="card animated fadeInDown" ng-switch-when="rating" style="border:1px solid #E5E5E5">
    <div class="card-header ch-alt">
      <h2><i class="fa fa-dot-circle-o fa-1x"></i>RATING</h2>
        <ul class="actions">
          <li>
            <a href="" ng-click="isCollapsed = !isCollapsed;setRatingProperties($index,placeOfWidgets,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index)">
              <i class="zmdi zmdi-caret-down-circle"></i>
            </a>
          </li>
          <li>
            <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$parent.$index,placeOfWidgets)"><i class="zmdi zmdi-delete"></i></a>
          </li>
        </ul>
    </div>
    
    <div class="card-body card-padding" >
      <form class="form-horizontal" role="form">
          <div class="card-body card-padding">
          <div class="form-group" style="margin-bottom:20px;">
            <label class="col-sm-2 control-label">{{ field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
              <div class="col-sm-10">
                <div class="fg-line disabled">
                <md-slider-container layout="row">
                  <md-slider flex md-discrete step="1" ng-disabled="true"
                  min="{{field.min}}" max="{{field.max}}" ng-model="field.defaultValue" aria-label="rde" id="red-slider">
                  </md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="field.defaultValue" aria-label="red" aria-controls="red-slider">
                  </md-input-container>
                  </md-slider-container>
                <!-- <input type="text" class="form-control input-sm" placeholder ='{{field.placeHolder}}'
                ng-required='{{field.required}}'
                ng-model='field.defaultValue' 
                disabled="{{skeltonWidgetReadonly}}"
                /> -->
                </div>
              </div>
          </div>
          </div>
      </form>
      <!-- TEXTBOX PROPERTIES WIDGET -->
      <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex
      && isWidgetSelected && type === placeOfWidgets && formGroupIndex == $parent.$parent.$parent.$index">
        <div class="card-header bgm-teal ch-alt">
          <button type="button" class="close" ng-click="widgetPropertiesWindowClose()"><span aria-hidden="true">&times;</span></button>
          <h2><i class="fa fa-check-square fa-1x"></i>TextBox Properties</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row" data-ng-include="'views/ratingPropertiesModal.html'">
              
            </div>
        </div>
      </div>
      <!-- END TEXTBOX PROPERTIES WIDGET -->
    </div>
</div>

		