<div class="card">
  <div class="card-header">
    <h2>Comment History</h2>
  </div>
  <div class="card-body card-padding o-auto" style="height:300px; ">
    <div class="row">
      <ol class="col-md-6">
        <p class="text-uppercase c-gray">Comments</p>
        <li ng-repeat="(key,val) in commentsSub track by $index">{{val.Comment}}</li>  
      </ol>
      <ol  class="col-md-6">
        <p class="text-uppercase c-gray">submitted On</p>
        <li ng-repeat="(key,val) in commentsSub">{{val.UpdatedTime | date:'dd-MM-yyyy'}}</li>  
      </ol>
   </div> 
  </div>
</div>
