<div class="card">
	<div class="card-header">
		<button type="button" class="close" ng-click="dialogClose()" ><span aria-hidden="true">&times;</span></button>
		<h2>Image Preview</h2>
	</div>
	<div class="card-body card-padding">
		<div class="image-wrapper">
			<img ng-src="{{imgSrc}}" err-src="{{errSrc}}">
		</div>
	</div>
</div>