<div class="login-content" data-ng-controller="loginCtrl as lctrl">
    
    <!--@PK Standard Login -->
    <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': lctrl.login === 1 }" data-ng-if="lctrl.login === 1">
        <img class="i-logo m-b-15" src="images/mainpage_logo.png">
        <form name="loginForm" role="form" ng-submit="login(loginUser,loginForm.$valid,0)" data-ng-model="loginUser" novalidate>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line" show-errors>
                    <input type="text" class="form-control" name="username" ng-model="loginUser.username" placeholder="Username" required>
                </div>
                <small class="help-block" ng-show="loginForm.username.$dirty && loginForm.username.$error.required">This field is required.</small>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line" show-errors>
                    <input type="password" name="password" ng-model="loginUser.password" class="form-control" placeholder="Password" required>
                </div>
                <small class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">This field is required.</small>
            </div>

            <div class="clearfix"></div>
            <div ng-show="invalidCrd">Invalid credentials!</div>
            <button type="submit" class="btn btn-login btn-danger btn-float" ng-disabled="!loginForm.$dirty"><i class="zmdi zmdi-arrow-forward"></i></button>
        </form>
        <ul class="login-navigation">
            <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.login = 0; lctrl.register = 1">LightView Login</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.login = 0; lctrl.forgot = 1">Forgot Password?</li>
        </ul>
    </div>

    <!--@PK: LightView Login -->
    <div class="lc-block" id="l-register" data-ng-class="{ 'toggled': lctrl.register === 1 }" data-ng-if="lctrl.register === 1">
        <img class="i-logo m-b-15" src="images/mainpage_logo.png">
        <p class="text-center">LightView Login</p>
        <form name="loginForm" role="form" ng-submit="login(loginUser,loginForm.$valid,1)" data-ng-model="loginUser" novalidate>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line" show-errors>
                    <input type="text" class="form-control" name="username" ng-model="loginUser.username" placeholder="Username" required>
                </div>
                <small class="help-block" ng-show="loginForm.username.$dirty && loginForm.username.$error.required">This field is required.</small>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line" show-errors>
                    <input type="password" name="password" ng-model="loginUser.password" class="form-control" placeholder="Password" required>
                </div>
                <small class="help-block" ng-show="loginForm.password.$dirty && loginForm.password.$error.required">This field is required.</small>
            </div>

            <div class="clearfix"></div>
            <div ng-show="invalidCrd">Invalid credentials!</div>
            <button type="submit" class="btn btn-login btn-danger btn-float" ng-disabled="!loginForm.$dirty"><i class="zmdi zmdi-arrow-forward"></i></button>
        </form>

        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.register = 0; lctrl.login = 1">Standard Login</li>
            <li data-block="#l-forget-password" class="bgm-orange" data-ng-click="lctrl.register = 0; lctrl.forgot = 1">Forgot Password?</li>
        </ul>
    </div>

    <!--@PK: Forgot Password -->
    <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': lctrl.forgot === 1 }" data-ng-if="lctrl.forgot === 1">
        <img class="i-logo m-b-15" src="images/mainpage_logo.png">
        <p class="text-left">Forgot password, No issues password will be sent to your email.</p>

        <form name="resetPasswordForm" role="form" ng-submit="reset(changePwd,resetPasswordForm.$valid)" data-ng-model="changePwd" novalidate>
            <div class="input-group m-t-20 m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line" show-errors>
                    <input type="text" name="uname" data-ng-model="changePwd.username" class="form-control" placeholder="Enter Username/Email" required>
                </div>
                <small class="help-block" ng-show="resetPasswordForm.uname.$dirty && resetPasswordForm.uname.$error.required">This field is required.</small>
            </div>
            <button type="submit" class="btn btn-login btn-danger btn-float" ng-disabled="!resetPasswordForm.$dirty"><i class="zmdi zmdi-arrow-forward"></i></button>
        </form>
        <ul class="login-navigation">
            <li data-block="#l-login" class="bgm-green" data-ng-click="lctrl.forgot = 0; lctrl.login = 1">Standard Login</li>
            <li data-block="#l-register" class="bgm-red" data-ng-click="lctrl.forgot = 0; lctrl.register = 1">LightView Login</li>
        </ul>
    </div>

</div>