
<form class="form-horizontal" role="form" ng-submit="saveRadiobttonPro(widgetProp)">
    <div class="form-group">
        <label class="col-sm-3 control-label">{{lableName}}</label>
        <div class="col-sm-8">
            <div class="fg-line">
                <input type="text" class="form-control input-sm" ng-model="widgetProp.lable">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">{{defaultValueName}}</label>
        <div class="col-sm-8">
            <div class="fg-line">
                <input type="text" class="form-control input-sm" ng-model="widgetProp.defaultValue">
            </div>
        </div>
    </div>
    
    <div class="col-sm-offset-3 col-sm-10">
    <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
        <input type="checkbox" ng-model="widgetProp.required" 
                ng-checked="widgetProp.required"/>
        <i class="input-helper"></i>
        {{requiredName}}
    </label>

    <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
        <input type="checkbox" ng-model="widgetProp.isPrimary" 
                ng-checked="widgetProp.isPrimary"/>
        <i class="input-helper"></i>
        {{isPrimaryName}}
    </label>
    </div>

    <div class="col-sm-10">
        <button type="button" class="btn btn-primary btn-sm m-t-10 m-b-10 waves-effect" ng-click="addRadioItem()">Add Radio Items</button>
    </div>

    <div class="form-group">
        <table class="table table-condensed" style="border-collapse:none;border:1px solid #E5E5E5;">
            <tr style="background:#A9A9A9">
                <th>#</th>
                <th>Item Name</th>
                <th>Item Value</th>
            </tr>
            <tr ng-repeat="item in widgetProp.type.values">
                <td>{{$index+1}}</td>
                <td><div class="fg-line"><input type="text" class="form-control input-sm" ng-model ="item.lable"></div></td>
                <td><div class="fg-line"><input type="text" class="form-control input-sm" ng-model ="item.value"></div></td>
            </tr>
        </table>
    </div>

    <!-- <div class="form-group">
        <div class="col-sm-12">
            <div class="form-group" ng-repeat="item in widgetProp.type.values">
                <label class="col-sm-3 control-label">Item Name -{{$index+1}}:</label>
                <div class="col-sm-8">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm" ng-model ="item.lable">
                    </div>
                </div>

                <label class="col-sm-3 control-label">Item Value -{{$index+1}}:</label>
                <div class="col-sm-8">
                    <div class="fg-line">
                        <input type="text" class="form-control input-sm" ng-model ="item.value">
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="button" class="btn bgm-green btn-xs waves-effect" ng-click="saveRadiobttonPro(widgetProp)">Save</button>
            <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="widgetPropertiesWindowClose()">Cancel</button>
        </div>
    </div>
</form>
