    
    <form class="form-horizontal" role="form" ng-submit="saveRatingPro(rWidgetProp)">
        <div class="form-group">
        <label class="col-sm-3 control-label">{{lableName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="rWidgetProp.lable">
                </div>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-3 control-label">Min rating</label>
            <div class="col-sm-3">
                <div class="fg-line">
                    <input type="number" min="0"  class="form-control input-sm" ng-model="rWidgetProp.min">
                </div>
            </div>
            <label class="col-sm-3 control-label">Lable</label>
            <div class="col-sm-3">
                <div class="fg-line">
                    <input type="text" min="0"  class="form-control input-sm" ng-model="rWidgetProp.minLable">
                </div>
            </div>
            <div ng-show="rWidgetProp.min>rWidgetProp.max">
                min value should be less theen max value
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Max rating</label>
            <div class="col-sm-3">
                <div class="fg-line">
                    <input type="number"  min="0" class="form-control input-sm" ng-model="rWidgetProp.max">
                </div>
            </div>
            <label class="col-sm-3 control-label">Lable</label>
            <div class="col-sm-3">
                <div class="fg-line">
                    <input type="text"  min="0" class="form-control input-sm" ng-model="rWidgetProp.maxLable">
                </div>
            </div>
            <div ng-show="rWidgetProp.min>rWidgetProp.max">
                max value should be greather theen min value
            </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">{{defaultValueName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="number" class="form-control input-sm" ng-model="rWidgetProp.defaultValue">
                </div>
            </div>
            
            <div ng-show="rWidgetProp.defaultValue >= rWidgetProp.min &&  rWidgetProp.defaultValue<=rWidgetProp.max">

                DefaultValue  should be between the  min and max value
            </div>

        </div>

        

        <div class="col-sm-offset-3 col-sm-10">
            <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
                <input type="checkbox" ng-model="rWidgetProp.required"/>
                <i class="input-helper"></i>
                {{requiredName}}
            </label>

            <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
                <input type="checkbox" ng-model="rWidgetProp.isPrimary"/>
                <i class="input-helper"></i>
                {{isPrimaryName}}
            </label>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-primary btn-xs waves-effect" ng-click="saveRatingPro(rWidgetProp)">save</button>

                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="widgetPropertiesWindowClose()">Cancel</button>
            </div>
        </div>
    </form>
