<md-card style="border: 1px  #95a5a6;">
    <div class="card-header ch-alt" ng-class="{selectedStyle: selctedGroupIndexofSctionGroups == $index && isSectionGroupSelected && isSectionSelected && selectedSectionIndex == $parent.$parent.$parent.$index}">
    <h2 ng-click="addFieldsToSectionGroup($index,$parent.$parent.$parent.$index)">{{field.data.lable}}<small>To adding the widgets to group, click on group name and select widegts form UI Buzz</small></h2>
    <ul class="actions">
        <li class="dropdown" uib-dropdown="">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="setSectionGroupProperties($index,$parent.$parent.$parent.$index)" >
            <md-icon>settings</md-icon>
            <md-tooltip md-direction="top" md-visible="tooltipVisible">Set Properties</md-tooltip>
           </md-button>
           <md-button class="md-icon-button" aria-label="Share" ng-click="deleteGroup($index,$parent.$parent.$parent.$index,'section')">
            <md-icon>delete_forever</md-icon>
            <md-tooltip md-direction="top" md-visible="tooltipVisible">Delete</md-tooltip>
          </md-button>
            
        </li>
    </ul>
    </div>
    
     <md-card style="border:1px solid #A8A8A8" ng-show="$index == widgetSelectedIndex && isSectionGroupselect ">
        <div  ng-init="tyepOfGroupPlace= 'section'" data-ng-include="'views/formGroupPropertiesModel.html'"></div>
    </md-card>
    <div class="card-body card-padding">
    <div ng-init="placeOfWidgets = 'group'" ng-repeat="field in field.data.type.fields" data-ng-include="'views/groupWidgets.html'" >
    	
    	</div>
    </div>

</md-card>