<md-card style="border: 1px  #95a5a6;">
    <div class="card-header ch-alt">
        <h2 >{{field.data.lable}}</h2>
    </div>
    <div class="card-body card-padding">
        <div ng-init="placeOfWidgets = 'group'"ng-repeat="field in field.data.type.fields" data-ng-include="'views/groupWidgetsPreview.html'" >
            
        </div>
    </div>
</md-card>