
<form class="form-horizontal" role="form" ng-submit="saveSectionProp(sctionWidgetProp)">
        <div class="form-group">
            <label class="col-sm-3 control-label">Label</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="sctionWidgetProp.lable">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn bgm-green btn-xs waves-effect" ng-click="saveSectionProp(sctionWidgetProp)">Submit</button>
                 <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="sectionPropertiesWindowClose()">Cancel</button>
            </div>
        </div>
</form>
