			<span ng-switch on="field.type.view">
					<span ng-switch-when="textbox" class= "row" ng-click ="setTextboxproperties($index,'group',$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$index,'sectionGroupWidget')"> 
										  <label  class="col-md-6">{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
										   <input     class="col-md-6"  
										              ng-model="entity[field.name]" 
										              class="{{field.cssClassing}}"    
										              type="text"
										              placeholder ='{{field.placeHolder}}'
										              ng-required='{{field.required}}'
										               
										   /> 
										   

									  </span>  

						  <span ng-switch-when="checkbox" class= "row" ng-click="setCheckboxProperties($index,'group',$parent.$parent.$parent.$index)">  
						      <label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
						     
						       <span class="col-md-6"   ng-repeat ="option in field.type.values">
						       		<span class ="row">
						       			<input   type="checkbox">
						       				<label>{{option.lable}}</label>
						       			</input> 
	
						       		</span>
						     		
						       </span>
						       
						  </span> 
						  <span ng-switch-when="radio" class= "row" ng-click="setRadioButtonProperties($index,'group',$parent.$parent.$parent.$index)">  
						      <label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
						     
						       <span class="col-md-6"   ng-repeat ="option in field.type.values">
						       		<span class ="row">
						       			<input   type="radio">
						       				<label>{{option.lable}}</label>
						       			</input> 
	
						       		</span>
						     		
						       </span>
						       
						  </span> 

						  <span ng-switch-when="textarea" class="row" ng-click="setTextareaProperties($index,'group',$parent.$parent.$parent.$index)">  
						  	<label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label>
						    
						    <textarea class="col-md-6"  placeholder='{{field.placeHolder}}'></textarea>  
						  </span>  

						  <span ng-switch-when="select" class="row" ng-click="setDropdownProperties($index,'group',$parent.$parent.$parent.$index)">
						  	<label class="col-md-6" >{{ field.lable }}<em ng-hide="!field.required">*</em> :</label> 
						  	 <select class="col-md-6"  >
						       		<option ng-repeat="option in field.type.values" value="{{option.id}}">{{option.lable}}</option>
						       		
						     	
						     </select>  
						  </span>  
						  
					</span>