
<div ng-switch on="field.data.type.view">
			<div ng-switch-when="textbox" class="formWidget">
			    <div layout="row">
			    	<label class="widgetColor">{{field.data.lable}} <em style="color:red" ng-hide="!field.data.required">*</em></label>
		        </div>
			    	<md-input-container class="md-block">

				    	<input  ng-if="field.data.inputType=='Text'" ng-init="selectedFormRecordFields[field.data.id] =field.defaultValue" type="text" ng-model="selectedFormRecordFields[field.data.id]"   placeholder ='{{field.data.placeHolder}}' ng-required='{{field.data.required}}' ng-disabled="{{readOnly}}" >

				        <input  ng-if="field.data.inputType=='Email'" ng-init="selectedFormRecordFields[field.data.id] =field.data.defaultValue" type="email" ng-model="selectedFormRecordFields[field.data.id]"   placeholder ='{{field.data.placeHolder}}' ng-required='{{field.data.required}}' ng-disabled="{{readOnly}}">

				        <input  ng-if="field.data.inputType=='Number'" ng-init="selectedFormRecordFields[field.data.id] =field.data.defaultValue" type="number" ng-min="field.data.minInputVal" ng-max="field.data.maxInputVal" ng-model="selectedFormRecordFields[field.data.id]"   placeholder ='{{field.data.placeHolder}}' ng-required='{{field.data.required}}' ng-disabled="{{readOnly}}">
	    			</md-input-container>

		</div>

		<!--[CASE-2] TEXTAREA -->
		<div ng-switch-when="textarea" class="formWidget">
			<div layout="row">
				<label class="widgetColor" >{{field.data.lable}} <em style="color:red" ng-hide="!field.data.required">*</em></label>

			</div>	
            <md-input-container class="md-block">

            	<textarea  ng-init="selectedFormRecordFields[field.data.id] =field.data.defaultValue"  min="field.data.minInputVal"  max="field.data.maxInputVal" ng-model="selectedFormRecordFields[field.data.id]" class="form-control" name="field.data.id" placeholder='{{field.data.placeHolder}}'  ng-disabled="{{readOnly}}" ></textarea>
           </md-input-container>
            	
        </div>

		<!-- [CASE-3] CHECKBOX -->
		<div ng-switch-when="checkbox" class="formWidget md-block">
			<div layout="row" >
	          	<label class="widgetColor">{{field.data.lable}} <em style="color:red" ng-hide="!field.data.required">*</em></label>
	        </div>

	       <div layout="row" >
	       		<md-checkbox ng-repeat="item in field.data.type.values" ng-checked="exists(item.lable,field.data.id)" ng-click="toggle(item.lable,field.data.id)">
	           {{ item.lable }}
           		</md-checkbox>
	       </div>

		</div>

		<!-- [CASE-4] RADIO BUTTON-->
		<div ng-switch-when="radio" class="formWidget">
			<div layout="row" >
	          	<label class="widgetColor">{{field.data.lable}} <em style="color:red" ng-hide="!field.data.required">*</em></label>
	        </div>
	
        	<md-radio-group layout="row" ng-model="selectedFormRecordFields[field.daata.id]">
		      <md-radio-button ng-repeat="item in field.data.type.values"
		                       ng-value="item.value"
		                       >
		                       {{item.lable}}
		      </md-radio-button>
    		</md-radio-group>
	    	
		</div>

		<!-- [CASE-5] SELECT-->
		<div ng-switch-when="select" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.data.lable}}:
				<em style="color:red" ng-hide="!field.data.required">*</em></label>
			</div>
			
			<md-input-container  layout="row" class="md-block">
		        
		        <md-select ng-model="selectedFormRecordFields[field.data.id]">
		          <md-option ng-repeat="item in field.data.type.values" value="{{item.lable}}">{{item.lable}}</md-option>
		        </md-select>
      		</md-input-container>

		</div>
		<!-- [CASE-6] CAMERA-->
		<!-- <div ng-switch-when="camera" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.data.lable}} 
					<em style="color:red" ng-hide="!field.data.required">*</em>
				</label>
			</div>
			<div  class="thumbnail" layout="row" style="width: auto;background-color:#eee;height:auto;min-height:200px; border:1px solid #cccccc;">
			       <img  ng-src="{{uplodatedImages[field.data.id].split('Image_____')[1]}}" ng-hide="imageHide" />
	        </div>
	    	<div layout="row">
	            <input id="userUpload" ng-model="userInfo.filename"  ng-files="getuploadImages($files,field.data.id)" name="fileUpload" type="file" accept="image"/>
	            
	         </div>
           
		</div> -->


		<!-- [CASE-7] CALENDER-->
		<div ng-switch-when="calender" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}} :
				<em style="color:red" ng-hide="!field.data.required">*</em></label>
			</div>
			
			<div layout="row" >
				<md-datepicker   ng-model="selectedFormRecordFields[field.data.id]" md-placeholder="Enter date" >
					
				</md-datepicker>
				<!-- <md-datepicker ng-model="selectedFormRecordFields[field.id]" md-placeholder="{{field.placeHolder}}" >
					
				</md-datepicker> -->	
            	
            </div>
		</div>

		<!-- [CASE-8] BARCODE-->
		<div ng-switch-when="barcode" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.data.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
			</div>
			    <md-input-container class="md-block">
			        <input type="text" ng-model="selectedFormRecordFields[field.data.id]" >
      			</md-input-container>
        </div>
		
		<!-- [CASE-9] SIGNATURE -->
		<!-- <div ng-switch-when="sign" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.data.lable}} :
				<em style="color:red" ng-hide="!field.data.required">*</em></label>
            </div>
			<div layout="row">
				<div>
                	<img src="images/sign.png" class="sign-image"></img>
                	<img ng-src="{{selectedFormRecordFields[field.data.lable].split('Image_____')[1]}}"></img>
                </div>
            </div>
		</div> -->

		<div ng-switch-when="rating" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.data.lable}} <em style="color:red" ng-hide="!field.data.required">*</em></label>
		    </div>
			
			<div layout="row">
	        	<div class="col-sm-8 m-t-5 m-b-15">
		            <div class="fg-line">
		            	<md-slider-container layout="row" >
		                  <md-slider flex md-discrete step="1"
		                  min="{{field.data.min}}" max="{{field.data.max}}" ng-model="field.data.defaultValue" id="red-slider">
		                  </md-slider>
		                  
                  		</md-slider-container>

		            </div>
		        </div>
		    </div>
		</div>

		<!-- [CASE-10] MAP LOCATION -->
		<!-- <div ng-switch-when="map" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.data.lable}} :
				<em style="color:red" ng-hide="!field.data.required">*</em></label>
            </div>
			
			<div layout="row">
				<div class="col-sm-8 m-t-5 m-b-15">
                	<img src="images/map.png" class="sign-image"></img>
                </div>
            </div>
		</div> -->
</div>

