
<div ng-switch on="field.data.type.view">
	<!--[CASE-1] TEXTBOX -->
	<div ng-switch-when="textbox">
		<div class="form-group">
        	<label class="col-sm-3 control-label">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></label>
	        <div class="col-sm-8">
	            <div class="fg-line">
	                <input ng-if="!isGridRecodsShow" type="text" class="form-control input-sm" placeholder ='{{field.data.placeHolder}}' ng-required='{{field.data.required}}' ng-model='field.data.defaultValue' disabled="{{readOnly}}">
	                 <input ng-if="isGridRecodsShow" type="text" class="form-control input-sm" placeholder ='{{field.data.placeHolder}}' ng-required='{{field.data.required}}' ng-model='selectedFormRecordFields[field.data.lable]' disabled="{{readOnly}}">
	            </div>
	        </div>
	    </div>
	</div>
	<!--[CASE-2] TEXTAREA -->
	<div ng-switch-when="textarea">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></label>
			<div class="col-sm-8">
            <div class="fg-line">
                <textarea ng-if="!isGridRecodsShow" class="form-control" rows="3" placeholder='{{field.data.placeHolder}}' ng-model='field.data.defaultValue' disabled="{{readOnly}}"></textarea>
                <textarea ng-if="isGridRecodsShow" class="form-control" rows="3" placeholder='{{field.data.placeHolder}}' ng-model="selectedFormRecordFields[field.data.lable]" disabled="{{readOnly}}"></textarea>
            </div>
            </div>
        </div>
	</div>
	<!-- [CASE-3] CHECKBOX -->
	<div ng-switch-when="checkbox">
		<div class="form-group">
		<label class="col-sm-3 control-label">{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em></label>
		<div class="col-sm-8">
		<div class="checkbox m-b-15" ng-repeat="item in field.data.type.values">
            <label>
                <input ng-if="!isGridRecodsShow" type="checkbox" ng-checked="field.data.defaultValue === item.lable" disabled="{{readOnly}}"/>
                <input ng-if="isGridRecodsShow" type="checkbox" ng-checked="selectedFormRecordFields[field.data.lable][$index] === item.lable" disabled="{{readOnly}}"/>

                <i class="input-helper"></i>
                {{ item.lable }}
            </label>
        </div>
        </div>
        </div>
	</div>
	<!-- [CASE-4] RADIO BUTTON-->
	<div ng-switch-when="radio">
		<div class="form-group">
		<label class="col-sm-3 control-label">{{field.data.lable}} <em style="color:red" ng-hide="!field.data.required">*</em></label>
		<div class="col-sm-8">
			<div class="radio m-b-15" ng-repeat="item in field.data.type.values">
                <label>
                    <input ng-if="!isGridRecodsShow" type="radio" ng-checked="field.data.defaultValue === item.lable" disabled="{{readOnly}}">
                    <input ng-if="isGridRecodsShow" type="radio" ng-checked="selectedFormRecordFields[field.data.lable] === item.lable" disabled="{{readOnly}}">
                    <i class="input-helper"></i>
                    {{item.lable}}
                </label>
            </div>
		</div>
		</div>
	</div>
	<!-- [CASE-5] SELECT-->
	<div ng-switch-when="select">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></label>
            <div class="col-sm-8">
            <div class="fg-line">
                <div class="select">
                    <select ng-if="!isGridRecodsShow" class="form-control" ng-model="field.data.defaultValue" ng-options="option.value as option.lable for option in field.data.type.values" disabled="{{readOnly}}"></select>
                    <select ng-if="isGridRecodsShow" class="form-control" ng-model="selectedFormRecordFields[field.adata.lable]" ng-options="option.value as option.lable for option in field.data.type.values" disabled="{{readOnly}}"></select>
                </div>
            </div>
            </div>
        </div>
	</div>
	<!-- [CASE-6] CAMERA-->
	<div ng-switch-when="camera">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{field.data.lable}} <em style="color:red" ng-hide="!field.data.required">*</em></label>
            <div class="col-sm-8">
            	<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="height: 150px;width:150px;border:1px solid #EEE;">
            		<img   ng-if="isGridRecodsShow" ng-src="{{selectedFormRecordFields[field.data.lable].split('Image_____')[1]}}"></img>
            	</div>
            </div>
        </div>
	</div>
	<!-- [CASE-7] CALENDER-->
	<div ng-switch-when="calender">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{field.data.lable}} :<em style="color:red" ng-hide="!field.data.required">*</em></label>
            <div class="col-sm-8">
            	<md-datepicker ng-if="!isGridRecodsShow" ng-model="currentDate" md-placeholder="{{field.placeHolder}}" disabled="{{readOnly}}"></md-datepicker>
            	<input type="text" ng-if="isGridRecodsShow"  md-placeholder="{{field.placeHolder}}" ng-model="selectedFormRecordFields[field.data.lable]| date:  'mm/dd/yyyy' " disabled="{{readOnly}}">
            </div>
        </div>
	</div>
	<!-- [CASE-8] BARCODE-->
	<div ng-switch-when="barcode">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{field.data.lable}} :<em style="color:red" ng-hide="!field.data.required">*</em></label>
            <div class="col-sm-8">
            	<input ng-if="isGridRecodsShow" type="text" ng-model="selectedFormRecordFields[field.lable]" class="form-control input-sm"   disabled="{{readOnly}}"  >
            </div>
        </div>
	</div>

	<div ng-switch-when="rating">
		<div class="form-group">
        	<label class="col-sm-3 control-label">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></label>
	        <div class="col-sm-8">
	            <div class="fg-line">
	            	<md-slider-container layout="row" ng-if="!isGridRecodsShow">
	                  <md-slider flex md-discrete step="1" ng-disabled="true"
	                  min="{{field.data.min}}" max="{{field.data.max}}" ng-model="field.data.defaultValue" id="red-slider">
	                  </md-slider>
	                  <md-input-container>
	                    <input flex type="number" ng-model="field.data.defaultValue"  >
	                  </md-input-container>
                  	</md-slider-container>

                  	<md-slider-container layout="row" ng-if="isGridRecodsShow">
	                  <md-slider flex md-discrete step="1" ng-disabled="true"
	                  min="{{field.data.min}}" max="{{field.data.max}}" ng-model="field.data.defaultValue" id="red-slider">
	                  </md-slider>
	                  <md-input-container>
	                    <input flex type="number" ng-model="field.data.defaultValue"  >
	                  </md-input-container>
                  	</md-slider-container>
	                <!-- <input ng-if="!isGridRecodsShow" type="text" class="form-control input-sm" placeholder ='{{field.data.placeHolder}}' ng-required='{{field.data.required}}' ng-model='field.data.defaultValue' disabled="{{readOnly}}">
	                 <input ng-if="isGridRecodsShow" type="text" class="form-control input-sm" placeholder ='{{field.data.placeHolder}}' ng-required='{{field.data.required}}' ng-model='selectedFormRecordFields[field.data.lable]' disabled="{{readOnly}}"> -->
	            </div>
	        </div>
	    </div>
	</div>

	<div ng-switch-when="sign">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{field.data.lable}} :<em style="color:red" ng-hide="!field.required">*</em></label>
            <div class="col-sm-8">
            	<img ng-if="!isGridRecodsShow" src="images/sign.png" class="sign-image"></img>
            <!-- 	<img   ng-if="!isGridRecodsShow" ng-src="{{selectedFormRecordFields[field.data.lable].split('Image_____')[1]}}"></img> -->
            </div>
        </div>
	</div>

	<div ng-switch-when="map">
		<div class="form-group">
			<label class="col-sm-3 control-label">{{field.data.lable}} :<em style="color:red" ng-hide="!field.required">*</em></label>
            <div class="col-sm-8">
            	<img ng-if="!isGridRecodsShow" src="images/map.png" class="sign-image"></img>

            </div>
        </div>
	</div>
</div>

