	<!-- Start Switch -->
	<div class="card" ng-switch on="field.type.view">
		<!--[CASE-1] TEXTBOX -->
		<div ng-switch-when="textbox">
			<div class="form-group">
	        	<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
		        <div class="col-sm-8 m-t-5 m-b-15">
		            <div class="fg-line">
		                <input type="text" class="form-control input-sm" ng-model='field.defaultValue' placeholder ='{{field.placeHolder}}' ng-required='{{field.required}}' disabled="{{readOnly}}">

		            </div>
		        </div>
		    </div>
		</div>
		<!--[CASE-2] TEXTAREA -->
		<div ng-switch-when="textarea">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
				<div class="col-sm-8 m-t-5 m-b-15">
                <div class="fg-line">
                    <textarea class="form-control" rows="3" placeholder='{{field.placeHolder}}' ng-model='field.defaultValue' disabled="{{readOnly}}"></textarea>
                </div>
                </div>
            </div>
		</div>
		<!-- [CASE-3] CHECKBOX -->
		<div ng-switch-when="checkbox">
			<div class="col-md-12">
			<label class="col-md-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
			<div class="col-md-9 m-t-5 m-b-15">
                <label class="checkbox checkbox-inline m-b-15 m-l-0 col-sm-3" ng-repeat="item in field.type.values">
                    <input type="checkbox" ng-checked="field.defaultValue === item.lable" disabled="{{readOnly}}"/>
                    <i class="input-helper"></i>
                    {{ item.lable }}
                </label>
            </div>
            </div>
		</div>

		<!-- [CASE-4] RADIO BUTTON-->
		<div ng-switch-when="radio">
			<div class="form-group">
			<label class="col-md-3 control-label m-t-5 m-b-15">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
			<div class="col-md-9 m-t-5 m-b-15">
                <label class="radio radio-inline m-b-15 m-l-0 col-sm-3" ng-repeat="item in field.type.values">
                    <input type="radio" ng-checked="field.defaultValue === item.lable" disabled="{{readOnly}}">
                    <i class="input-helper"></i>
                    {{item.lable}}
                </label>
			</div>
			</div>
		</div>
		<!-- [CASE-5] SELECT-->
		<div ng-switch-when="select">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}}:
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                <div class="fg-line">
                    <div class="select">
                        <select class="form-control" ng-model="field.defaultValue" ng-options="option.value as option.lable for option in field.type.values" disabled="{{readOnly}}"></select>
                    </div>
                </div>
                </div>
            </div>
		</div>
		<!-- [CASE-6] CAMERA-->
		<div ng-switch-when="camera">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}}:
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="height: 150px;width:150px;border:1px solid #EEE;"></div>
                </div>
            </div>
		</div>
		<!-- [CASE-7] CALENDER-->
		<div ng-switch-when="calender">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<md-datepicker  ng-model="currentDate" md-placeholder="{{field.placeHolder}}" disabled="{{readOnly}}"></md-datepicker>
                </div>
            </div>
		</div>
		<!-- [CASE-8] BARCODE-->
		<div ng-switch-when="barcode">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<i class="material-icons">settings_overscan</i>
                </div>
            </div>
		</div>
		
		<div ng-switch-when="sign">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<img src="images/sign.png" class="sign-image"></img>
                </div>
            </div>
		</div>

		<div ng-switch-when="map">
			<div class="form-group">
				<label class="col-sm-3 control-label m-t-5 m-b-15">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
                <div class="col-sm-8 m-t-5 m-b-15">
                	<img src="images/map.png" class="sign-image"></img>
                </div>
            </div>
		</div>
	</div>