<div class="card m-t-25" style="padding:15px;">
	<div class="card-header">
		<img class="i-logo" src="images/mainpage_logo.png" alt=""><br>
        <small class="text text-primary">{{FormName}}</small>
		<ul class="actions">
            <!-- <li>
                <a href="" ng-click="printToCart('printSectionId')">
                    <i class="zmdi zmdi-print"></i>
                </a>
            </li> -->
            <li>
                <a href="" ng-click="printIt()"><i class="zmdi zmdi-download"></i></a>
            </li>
        </ul>
	</div>
	<div class="card-body card-padding">
        <div class="row table-responsive">
            <table class="table i-table m-b-25">
                <tr ng-repeat="record in recordView">
                    <td style="width:20px;">{{$index+1}}</td>
                    <td class="c-gray" style="width:200px;">{{record.fieldName}}</td>
                    <td style="width:500px;word-break:break-word;overflow: hidden;text-overflow:ellipsis;" ng-if="record.fieldName!= 'Image Name'">{{record.fieldValue}}</td>
                    <td style="width:500px;word-break:break-word;overflow: hidden;text-overflow:ellipsis;" ng-if="record.fieldName =='Image Name'"><img ng-src="{{record.fieldValue}}" err-src="{{errSrc}}"></td>
                </tr>
            </table>
        </div>
	</div>
</div>