<div class="listview lv-bordered lv-lg">
    <div class="lv-body">
        <div class="lv-item media">
            <div class="media-body">
                <div class="lv-title"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Section </div>

                <div class="lv-actions actions dropdown" uib-dropdown="">
                    <a href="" uib-dropdown-toggle="" aria-expanded="false" class="dropdown-toggle" aria-haspopup="true">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Add to Form</a>
                        </li>
                        <li>
                            <a href="">Add to Group</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="lv-item media">
            <div class="media-body">
                <div class="lv-title"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Group </div>

                <div class="lv-actions actions dropdown" uib-dropdown="">
                    <a href="" uib-dropdown-toggle="" aria-expanded="false" class="dropdown-toggle" aria-haspopup="true">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Add New Group</a>
                        </li>
                        <li>
                            <a href="">Add to Section</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="lv-item media">
            <div class="media-body">
                
            </div>
        </div>
    </div>
</div>