<div class="card">
    <div class="card-header ch-alt">
        <h2>{{FormName}} - Tabler View </h2>
        <ul class="actions">
            <li>
                <a href="" ng-click="gridrecordView()">
                    <md-tooltip md-autohide="false">Grid View</md-tooltip>
                    <i class="zmdi zmdi-view-module zmdi-hc-fw"></i>
                </a>
            </li>
            <li>
                <a href="" ng-click="emailRecords()">
                    <md-tooltip md-autohide="false">Attach as Email</md-tooltip>
                    <i class="zmdi zmdi-email zmdi-hc-fw"></i>
                </a>
            </li>
            <li>
                <a href="" ng-click="printPDF()">
                    <md-tooltip md-autohide="false">Export to PDF</md-tooltip>
                    <i class="zmdi zmdi-collection-pdf"></i>
                </a>
            </li>
            <li>
                <a href="" ng-click="exportToExcel()">
                    <md-tooltip md-autohide="false">Export to Excel</md-tooltip>
                    <i class="zmdi zmdi-download"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card-body card-padding">
        <div class="clearfix"></div>
         <!-- <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-exporter ui-grid-move-columns></div> -->
        <div id="exportable" class="table-responsive">
            <table class="table i-table m-t-5 m-b-25" name="Reassign">
            <thead class="text-uppercase">
            <tr>
                <th class="c-gray">#</th>
                <th class="c-gray">
                    <button class="btn btn-primary btn-xs waves-effect" ng-click="reassignRecord()" ng-disabled="isChecked()">Reassign</button>
                </th>
                <th class="c-gray" ng-repeat="(key, val) in RecordValue[0] track by $index">{{val.fieldName}}</th>
                <th class="c-gray">Action</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in formRecordData track by $index"  ng-class="{'record-bgcolor': record.IsReassign}" ng-init="recordsData=getSub(record)">
                    <td><strong>{{$index+1}}</strong></td>
                    <td>
                        <label class="checkbox checkbox-inline m-r-10" >
                        <input type="checkbox" ng-model="record.selected">
                            <i class="input-helper"></i>
                        </label>
                    </td>
                    <td ng-repeat="field in recordsData track by $index">
                        <div class="thumbnail_Img" ng-if ="field.fieldValue.indexOf('Image_____')==0">
                            <img ng-src="{{field.fieldValue.split('_____')[1]}}" err-src="{{errSrc}}" ng-click="imageViewer(field.fieldValue.split('_____')[1],'md');">
                        </div>
                        <div ng-if="isObjArray(field.fieldValue)">
                            <div ng-repeat="checkbox in field.fieldValue">{{checkbox}}</div>
                        </div>
                        <div ng-if="!isObjArray(field.fieldValue) && field.fieldValue.indexOf('Image_____')==-1" style="width:150px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;">{{field.fieldValue}}</div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button class="btn bgm-gray btn-icon-text waves-effect" ng-if="record.IsReassign==true" ng-click="historyOfComments($index)"><md-tooltip md-autohide="false">History</md-tooltip><i class="zmdi zmdi-time-restore"></i></button>
                            <button class="btn bgm-gray btn-icon-text waves-effect" ng-click="singleRecord($index,formRecordData,'lg')"><md-tooltip md-autohide="false">View Record</md-tooltip><i class="zmdi zmdi-eye"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
            </table>
        </div>
           <!--Duplicate table for export-->
        
    </div>
</div>