<div class="container" >
  <div class="block-header">
    <h2><i class="zmdi zmdi-collection-text"></i> Templates</h2>
    <button ng-if='userType==0' class="btn bt-icon bgm-red pull-right waves-effect waves-circle" ng-click="createTemplateModal()"><md-tooltip md-direction="top">Create New Template</md-tooltip><i class="zmdi zmdi-plus"></i></button>
        
    <ol class="breadcrumb" id="cursorList">
      <li ng-repeat="view in topView_Templates" ng-switch on ="view">
        <a ng-switch-when="Home"><i class="zmdi zmdi-home"></i> {{view}}</a>
        <a ng-switch-when="Templates" ng-click="topViewTemplate()"><i class="zmdi zmdi-collection-text"></i> {{view}}</a>
        <a ng-switch-default>{{view}}</a>
      </li>
   	</ol>
  </div>
  <div ui-view></div>
</div>