
<form class="form-horizontal" role="form" ng-submit="savetextAreaProp(taWidgetProp)">
        <div class="form-group">
            <label class="col-sm-3 control-label">{{lableName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="taWidgetProp.lable">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">{{defaultValueName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="taWidgetProp.defaultValue">
                </div>
            </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">{{placeHolderName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                <input type="text" class="form-control input-sm" ng-model="taWidgetProp.placeHolder">
                </div>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-3 control-label">{{inputMinLengthLable}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                  <input type="text" ng-model="taWidgetProp.minInputVal" numbers-only class="form-control" />
                </div>
            </div>
        </div>


        <div class="form-group" >
            <label class="col-sm-3 control-label">{{inputMaxLengthLable}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                  <input type="text" ng-model="taWidgetProp.maxInputVal" numbers-only class="form-control" />
                </div>
            </div>

        </div>

        <div class="col-sm-offset-3 col-sm-10">
            <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
                <input type="checkbox" ng-model="taWidgetProp.required"/>
                <i class="input-helper"></i>
                {{requiredName}}
            </label>

            <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
                <input type="checkbox" ng-model="taWidgetProp.isPrimary"/>
                <i class="input-helper"></i>
                {{isPrimaryName}}
            </label>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn bgm-green btn-xs waves-effect" ng-click="savetextAreaProp(taWidgetProp)" >Save</button>
                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="widgetPropertiesWindowClose()">Cancel</button>
            </div>
        </div>
</form>
