    
    <form class="form-horizontal" role="form" ng-submit="saveTextBoxPro(tbWidgetProp)">
        <div class="form-group">
        <label class="col-sm-3 control-label">{{lableName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="tbWidgetProp.lable">
                </div>
            </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">{{defaultValueName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="tbWidgetProp.defaultValue">
                </div>
            </div>
        </div>
        
        <div class="form-group">
        <label class="col-sm-3 control-label">{{placeHolderName}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <input type="text" class="form-control input-sm" ng-model="tbWidgetProp.placeHolder">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">{{typeOfWidget}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                    <md-input-container >
                        <md-select ng-model="tbWidgetProp.inputType">
                          <md-option ng-repeat="type in textBoxInputTypes" value="{{type}}">{{type}}</md-option>
                        </md-select>
                    </md-input-container>
                    
                  
                </div>
            </div>
          
        </div>
        
        <div class="form-group" ng-if="tbWidgetProp.inputType == numberType">
            <label class="col-sm-3 control-label">{{inputMinLengthLable}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                  <input type="text" ng-model="tbWidgetProp.minInputVal" numbers-only class="form-control" />
                </div>
            </div>
       
        </div>


        <div class="form-group" ng-if="tbWidgetProp.inputType == numberType">
            <label class="col-sm-3 control-label">{{inputMaxLengthLable}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                  <input type="text" ng-model="tbWidgetProp.maxInputVal" numbers-only class="form-control" />
                </div>
            </div>

           <!--  <div ng-show="tbWidgetProp.minInputVal.length < 0 && parseInt(tbWidgetProp.minInputVal)>parseInt(tbWidgetProp.maxInputVal)">
                min value should be lessthen max value
            </div>
 -->
        </div>
        
        <div class="form-group" ng-if="tbWidgetProp.inputType == numberType">
            <label class="col-sm-3 control-label">{{inputIncludesDecimalsLable}}</label>
            <div class="col-sm-8">
                <div class="fg-line">
                
                  <md-radio-group ng-model="tbWidgetProp.isInptAllowDecimals">
                      <md-radio-button value="yes" class="md-primary">Yes</md-radio-button>
                      <md-radio-button value="no"> No </md-radio-button>
                  </md-radio-group>
                
                </div>
            </div>
        </div>

        <div class="col-sm-offset-3 col-sm-10">
            <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
                <input type="checkbox" ng-model="tbWidgetProp.required"/>
                <i class="input-helper"></i>
                {{requiredName}}
            </label>

            <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
                <input type="checkbox" ng-model="tbWidgetProp.isPrimary"/>
                <i class="input-helper"></i>
                {{isPrimaryName}}
            </label>
            <label class="checkbox checkbox-inline m-r-20 m-b-20 m-t-20">
                <input type="checkbox" ng-model="tbWidgetProp.readOnly"/>
                <i class="input-helper"></i>
                {{isReadOnly}}
            </label>
        </div>



        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-primary btn-xs waves-effect" ng-click="saveTextBoxPro(tbWidgetProp)">save</button>

                <button class="btn bgm-gray btn-xs waves-effect" type="button" ng-click="widgetPropertiesWindowClose()">Cancel</button>
            </div>
        </div>
    </form>
