<div class="container">
    <div class="block-header">
        <h2><i class="zmdi zmdi-accounts-alt"></i> Usergroups</h2>
        <button class="btn bt-icon bgm-red pull-right waves-effect waves-circle" ng-click="create_userGroup()"><md-tooltip md-direction="top">Create New Group</md-tooltip><i class="zmdi zmdi-plus"></i></button>
        <ol class="breadcrumb">
            <li><a href=""><i class="zmdi zmdi-home"></i> Home</a></li>
            <li><a href="" data-ui-sref="pages.usergroups.view"><i class="zmdi zmdi-accounts-alt"></i> User Groups</a></li>
        </ol>
    </div>

    <div ui-view></div>
</div>