<div class="container">
  <div class="block-header">
    <h2><i class="zmdi zmdi-account-circle"></i> Users</h2>
    <button class="btn bt-icon bgm-red pull-right waves-effect waves-circle" ng-click="create_user()"><md-tooltip md-direction="top">Create New User</md-tooltip><i class="zmdi zmdi-plus"></i></button>

    <ol class="breadcrumb" id="cursorList">
      <li ng-repeat="view in topView_Users" ng-switch on ="view">
         <a ng-switch-when="Home"><i class="zmdi zmdi-home"></i> {{view}}</a>
         <a ng-switch-when="Users" ng-click="topViewUsers()"><i class="zmdi zmdi-account-circle"></i> {{view}}</a>
         <a ng-switch-default>{{view}}
        </a>
      </li>
    </ol>
  </div>
  <div ui-view></div>
</div>