<div class="card" ng-init="getUsers(defaultPage)" >

    <div class="card-header ch-alt m-b-20" ng-hide="cssHeader">
        <h2><i class="zmdi zmdi-account-circle"></i> Users ({{total_count}}) <small>Showing {{filteredusers.length}} out of {{total_count}} records.</small></h2>
         <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="openFilter()">
                    <md-tooltip md-direction="left">Search User</md-tooltip> <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    
    <input type="text"  placeholder="Start typing..." class="lvhs-input"  ng-model="$parent.searchBy.username" ng-hide="searchBarHide">
    <i class="lvh-search-close" data-ng-click="closeFilter()" ng-hide="searchBarHide">&times;</i>

    <div class="card-body card-padding">
        <p class="text text-danger text-center" ng-if="usersList.length <1 || filteredusers.length<1">No results found</p>
        <div class="contacts clearfix row">
            <div class="col-md-4" ng-repeat="user in filteredusers = (usersList | filter:searchBy )" ng-hide="usersDiv">
                <div class="t-view">
                    <div class="tv-header media z-depth-1">
                        <a href="" class="tvh-user pull-left">
                            <img  ng-if="isImagelight == false" class="img-responsive" ng-src="{{imgUrldata+user.imageurl}}" err-src="{{errSrc}}"  alt="{{user.name}}">
                        </a>
                        <div class="media-body p-t-5">
                            <strong class="d-block">{{user.username}}</strong>
                            <small class="c-gray">{{user.email}}</small>
                        </div>
                        <ul class="actions m-t-20">
                            <li class="dropdown" uib-dropdown>
                                <a href="" uib-dropdown-toggle>
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li>
                                        <a href="" ng-click="editUser(user._id,user)"><i class="zmdi zmdi-edit"></i> Edit</a>
                                    </li>
                                    <li>
                                        <a href="" ng-click="delete_User(user,$index)"><i class="zmdi zmdi-delete"></i> Delete</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <uib-pagination boundary-links="true" max-size="maxSize" items-per-page="limit" total-items="total_count" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" ng-hide="usersList.length <1" ng-change="getUsers(currentPage);"  >
        </uib-pagination>
    </div>
</div>

