<!-- <div class="card" ng-init="getUserGroups(defaultPage)">
    <div class="card-header ch-alt m-b-20" ng-hide="cssHeader">
        <h2><i class="zmdi zmdi-accounts-alt"></i> UserGroups <small>Showing {{filteredusersGroups.length}} out of {{groupList.length}} records.</small></h2>
         <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="openFilter()">
                    <md-tooltip md-direction="left">Search Usergroup</md-tooltip> <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <input type="text"  placeholder="Start typing..." class="lvhs-input"  ng-model="$parent.searchBy.name" ng-hide="searchBarHide">
    <i class="lvh-search-close" data-ng-click="closeFilter()" ng-hide="searchBarHide">&times;</i>

    <div class='card-body card-padding row animated zoomIn'>
        <div class="col-md-4" ng-repeat="group in filteredusersGroups = (groupList | filter:searchBy)">
        <div class="t-view">
            <div class="tv-header media z-depth-1">
            <div class="media-body p-t-5">
                <strong class="d-block">{{group.name}}</strong>
                <small class="c-gray"><i class="zmdi zmdi-smartphone-android"></i> {{group.phone}}</small>
            </div>

            <ul class="actions m-t-20">
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="" ng-click="edit_Usergroup(group,group._id)"><i class="zmdi zmdi-edit"></i> Edit</a>
                        </li>
                        <li>
                            <a href="" ng-click="delete_Usergroup(group,$index)"><i class="zmdi zmdi-delete"></i> Delete</a>
                        </li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </div>
</div> -->


<div class="card" ng-init="getUserGroups(defaultPage)">
    <div class="card-header ch-alt m-b-20" ng-hide="cssHeader">
        <h2><i class="zmdi zmdi-accounts-alt"></i> UserGroups ({{total_count}}) <small>Showing {{filteredusersGroups.length}} out of {{total_count}} records.</small></h2>
         <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="openFilter()">
                    <md-tooltip md-direction="left">Search Usergroup</md-tooltip> <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <input type="text"  placeholder="Start typing..." class="lvhs-input"  ng-model="$parent.searchBy.name" ng-hide="searchBarHide">
    <i class="lvh-search-close" data-ng-click="closeFilter()" ng-hide="searchBarHide">&times;</i>

    <div class='card-body card-padding row animated zoomIn'>

        <p class="text text-danger text-center" ng-if="groupList.length <1 || filteredusersGroups.length<1">No results found</p>
        <div class="contacts clearfix row">
            <div class="col-md-4" ng-repeat="group in filteredusersGroups = (groupList | filter:searchBy)">
                <div class="t-view">
                    <div class="tv-header media z-depth-1">
                    <div class="media-body p-t-5">
                        <strong class="d-block">{{group.name}}</strong>
                        <small class="c-gray"><i class="zmdi zmdi-smartphone-android"></i> {{group.phone}}</small>
                    </div>

                    <ul class="actions m-t-20">
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="" ng-click="edit_Usergroup(group,group._id)"><i class="zmdi zmdi-edit"></i> Edit</a>
                                </li>
                                <li>
                                    <a href="" ng-click="delete_Usergroup(group,$index)"><i class="zmdi zmdi-delete"></i> Delete</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>


        <uib-pagination boundary-links="true" max-size="maxSize" items-per-page="limit" total-items="total_count" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="getUserGroups(currentPage);" ng-hide="groupList.length <1 || filteredusersGroups.length<1" >
        </uib-pagination>
    </div>
</div>