<div class="card" ng-init="getAdmins(defaultPage)">
    <div class="card-header ch-alt m-b-20" ng-hide="cssHeader">
        <!-- <h2><i class="zmdi zmdi-account-circle"></i> Admins <small>Showing {{filteredadmins.length}} out of {{adminDataList.length}} records.</small></h2> -->
        <h2><i class="zmdi zmdi-account-circle"></i> Admins ({{total_count}}) <small>Showing {{filteredadmins.length}} out of {{total_count}} records.</small></h2>

        <ul class="lv-actions actions">
            <li>
                <a href="" data-ng-click="openFilter()">
                    <md-tooltip md-direction="left">Search Admin</md-tooltip> <i class="zmdi zmdi-search"></i>
                </a>
            </li>
        </ul>
    </div>
    <input type="text" class="lvhs-input" placeholder="Start typing..." ng-model="$parent.searchBy.username" ng-hide="searchBarHide">
    <i class="lvh-search-close" data-ng-click="closeFilter()" ng-hide="searchBarHide">&times;</i>

    <div class="card-body card-padding">
        <div class="contacts clearfix row">
        
        <p class="text text-danger text-center" ng-if="adminDataList.length <1 || filteredadmins.length<1">No results found</p>

        <div class="col-md-4" ng-repeat="admin in filteredadmins = (adminDataList | filter:searchBy)">
            <div class="t-view">
                <div class="tv-header media z-depth-1">
                    <a href="" class="tvh-user pull-left">
                        <img ng-if="isImagelight == false" class="img-responsive" ng-src="{{imgUrldataAdmin+admin.imageurl}}" err-src="{{errSrc}}"  alt="{{user.name}}">
                    </a>
                    <div class="media-body p-t-5">
                        <strong class="d-block">{{admin.username}}</strong>
                        <small class="c-gray">{{admin.email}}</small>
                    </div>
                    <ul class="actions m-t-20">
                        <li class="dropdown" uib-dropdown>
                            <a href="" uib-dropdown-toggle>
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="" ng-click="editAdmin(admin._id,admin)"><i class="zmdi zmdi-edit"></i> Edit</a>
                                </li>
                                <li>
                                    <a href="" ng-click="delete_Admin(admin,$index)"><i class="zmdi zmdi-delete"></i> Delete</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
 </div>


 <div class="row">
    <uib-pagination boundary-links="true" max-size="maxSize" items-per-page="limit" total-items="total_count" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="getAdmins(currentPage);"  >
    </uib-pagination>
</div>

</div>
</div>