	<!-- <STRONG></STRONG>art Switch -->
	<div ng-switch on="field.type.view">
		<!--[CASE-1] TEXTBOX -->
		<div ng-switch-when="textbox" class="formWidget">
			    <div layout="row">
			    	<label class="widgetColor">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
		        </div>
			    	<md-input-container class="md-block">

				    	<input  ng-if="field.inputType=='Text'" ng-init="selectedFormRecordFields[field.id] =field.defaultValue" type="text" ng-model="selectedFormRecordFields[field.id]"   name="{{field.id}}" placeholder ='{{field.placeHolder}}' ng-required='{{field.required}}' ng-disabled="{{readOnly}}" >

				        <input  ng-if="field.inputType=='Email'" ng-init="selectedFormRecordFields[field.id] =field.defaultValue" type="email" ng-model="selectedFormRecordFields[field.id]"   placeholder ='{{field.placeHolder}}' ng-required='{{field.required}}' ng-disabled="{{readOnly}}">

				        <input  ng-if="field.inputType=='Number'" ng-init="selectedFormRecordFields[field.id] =field.defaultValue" type="text" ng-min="field.minInputVal" ng-max="field.maxInputVal" ng-model="selectedFormRecordFields[field.id]"   placeholder ='{{field.placeHolder}}' ng-required='{{field.required}}' ng-disabled="{{readOnly}}" numbers-only>

				  
	    			</md-input-container>

		</div>

		<!--[CASE-2] TEXTAREA -->
		<div ng-switch-when="textarea" class="formWidget">
			<div layout="row">
				<label class="widgetColor" >{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>

			</div>	

            <md-input-container class="md-block">

            	<textarea  ng-init="selectedFormRecordFields[field.id] =field.defaultValue"  min="field.minInputVal"  max="field.maxInputVal" ng-model="selectedFormRecordFields[field.id]" class="form-control" name="field.id" placeholder='{{field.placeHolder}}'  ng-disabled="{{readOnly}}" ></textarea>
           </md-input-container>
            	
        </div>

		<!-- [CASE-3] CHECKBOX -->
		<div ng-switch-when="checkbox" class="formWidget md-block">
			<div layout="row" >
	          	<label class="widgetColor">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
	        </div>

	       <div layout="row" >
	       		<md-checkbox ng-repeat="item in field.type.values" ng-checked="exists(item.lable,field.id)" ng-click="toggle(item.lable,field.id)">
	           {{ item.lable }}
           		</md-checkbox>
	       </div>

		</div>

		<!-- [CASE-4] RADIO BUTTON-->
		<div ng-switch-when="radio" class="formWidget">
			<div layout="row" >
	          	<label class="widgetColor">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
	        </div>
	
        	<md-radio-group layout="row" ng-model="selectedFormRecordFields[field.id]">
		      <md-radio-button ng-repeat="item in field.type.values"
		                       ng-value="item.value"
		                       >
		                       {{item.lable}}
		      </md-radio-button>
    		</md-radio-group>
	    	
		</div>

		<!-- [CASE-5] SELECT-->
		<div ng-switch-when="select" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}}:
				<em style="color:red" ng-hide="!field.required">*</em></label>
			</div>
			
			<md-input-container  layout="row" class="md-block">
		        
		        <md-select ng-init="selectedFormRecordFields[field.id] =field.defaultValue" ng-model="selectedFormRecordFields[field.id]">
		          <md-option ng-repeat="item in field.type.values" value="{{item.lable}}">{{item.lable}}</md-option>
		        </md-select>
      		</md-input-container>

		</div>
		<!-- [CASE-6] CAMERA-->
	<!-- 	<div ng-switch-when="camera" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}} 
					<em style="color:red" ng-hide="!field.required">*</em>
				</label>
			</div>
			<div  class="thumbnail" layout="row" style="width: auto;background-color:#eee;height:auto;min-height:200px; border:1px solid #cccccc;">
			       <img  ng-src="{{uplodatedImages[field.id].split('Image_____')[1]}}" ng-hide="imageHide" />
	        </div>
	    	<div layout="row">
	            <input id="userUpload" ng-model="userInfo.filename"  ng-files="getuploadImages($files,field.id)" name="fileUpload" type="file" accept="image"/>
	            
	         </div>
           
		</div> -->


		<!-- [CASE-7] CALENDER-->
		<div ng-switch-when="calender" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
			</div>
			
			<div layout="row" >
				<md-datepicker ng-init="selectedFormRecordFields[field.id] =field.defaultValue"   ng-model="selectedFormRecordFields[field.id]" md-placeholder="Enter date" >
					
				</md-datepicker>
				<!-- <md-datepicker ng-model="selectedFormRecordFields[field.id]" md-placeholder="{{field.placeHolder}}" >
					
				</md-datepicker> -->	
            	
            </div>
		</div>

		<!-- [CASE-8] BARCODE-->
		<!-- <div ng-switch-when="barcode" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
			</div>
			    <md-input-container class="md-block">
			        <input type="text" ng-model="selectedFormRecordFields[field.id]" >
      			</md-input-container>
        </div> -->
		
		<!-- [CASE-9] SIGNATURE -->
		<!-- <div ng-switch-when="sign" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
            </div>
			<div layout="row">
				<div>
                	<img src="images/sign.png" class="sign-image"></img>
                	<img ng-src="{{selectedFormRecordFields[field.lable].split('Image_____')[1]}}"></img>
                </div>
            </div>
		</div> -->

		<div ng-switch-when="rating" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}} <em style="color:red" ng-hide="!field.required">*</em></label>
		    </div>
			
			<div layout="row">
	        	<div class="col-sm-8 m-t-5 m-b-15">
		            <div class="fg-line">
		            	<md-slider-container layout="row" >
		                  <md-slider ng-init="selectedFormRecordFields[field.id] =field.defaultValue" flex md-discrete step="1"
		                  min="{{field.min}}" max="{{field.max}}" ng-model="selectedFormRecordFields[field.id]" id="red-slider">
		                  </md-slider>
		                  
                  		</md-slider-container>

		            </div>
		        </div>
		    </div>
		</div>

		<!-- [CASE-10] MAP LOCATION -->
		<!-- <div ng-switch-when="map" class="formWidget">
			<div layout="row">
				<label class="widgetColor">{{field.lable}} :
				<em style="color:red" ng-hide="!field.required">*</em></label>
            </div>
			
			<div layout="row">
				<div class="col-sm-8 m-t-5 m-b-15">
                	<img src="images/map.png" class="sign-image"></img>
                </div>
            </div>
		</div> -->
		
		<!-- [CASE-11] GROUP VIEW-->
		<div ng-switch-when="group" class="formWidget">
			<div class="card m-l-10 m-r-10" style="border:1px solid rgba(140, 132, 131, 0.26);">
				<div class="card-header ch-alt">
					<h2>{{field.lable}}</h2>
				</div>
				<div class="card-body card-padding">
					<div class="row">
						<div ng-repeat="field in field.type.fields" data-ng-include="'views/widgetsForSubmition.html'"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- [CASE-10] SECTION VIEW-->
		<div ng-switch-when="section" class="formWidget">
			<div class="card m-l-10 m-r-10" style="border:1px solid rgba(140, 132, 131, 0.26);">
				<div class="card-header ch-alt">
					<h2>{{field.lable}}</h2>
				</div>
				<div class="card-body card-padding ch-alt">
					<div ng-repeat="field in field.type.fields">
						<div ng-switch on="field.type">
							<div ng-switch-when='field'>
								<div class="row">
									<div data-ng-include="'views/sectionWidegetsSubmition.html'"></div>
								</div>
							</div>

							<div ng-switch-when='group'>
								<div class="card m-l-10 m-r-10" style="border:1px solid rgba(140, 132, 131, 0.26);">
									<div class="card-header ch-alt">
								        <h2>{{field.data.lable}}</h2>
								    </div>
								    <div class="card-body card-padding">
								    	<div ng-init="placeOfWidgets = 'group'" ng-repeat="field in field.data.type.fields">
								    		<div class="row">
								    		<div data-ng-include="'views/widgetsForSubmition.html'">
								    			
								    		</div>
								    		</div>
								    	</div>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- [DEFAULT CASE] -->
		<div ng-switch-default>
			<!-- <p>Unknown widget</p> -->
		</div>
		<!-- END ALL CASES -->
	</div>
	<!-- End Switch -->
		  	


