<div ng-switch on="field.data.type.view">
<!-- [CASE-1] Sign-->
<div class="card widget_Group animated fadeInDown" ng-switch-when="textbox">
	<div class="card-header ch-alt">
	  <h2><i class="fa fa-dot-circle-o fa-1x"></i>TEXTBOX</h2>
	    <ul class="actions">
	      <li>
	        <a href="" ng-click="isCollapsed = !isCollapsed;setTextboxproperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
	          <i class="zmdi zmdi-caret-down-circle"></i>
	        </a>
	      </li>
	      <li>
	        <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
	      </li>
	    </ul>
	</div>
	<div class="card-body card-padding" >
	  <form class="form-horizontal" role="form">
	      <div class="card-body card-padding">
	      <div class="form-group" style="margin-bottom:20px;">
	        <label class="col-sm-2 control-label">{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> :</label>
	          <div class="col-sm-10">
	            <div class="fg-line disabled">
	            <input    
	              type="text" class="form-control input-sm" 
	              placeholder ='{{field.data.placeHolder}}'
	              ng-required='{{field.data.required}}'
	              ng-model='field.data.defaultValue'
	              disabled="{{skeltonWidgetReadonly}}" 
	          	/>
	            </div>
	          </div>
	      </div>
	      </div>
	  </form>
	  <!-- TEXTBOX PROPERTIES WIDGET -->
	  <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
	    <div class="card-header bgm-teal ch-alt">
	      <h2><i class="fa fa-check-square fa-1x"></i>TextBox Properties</h2>
	    </div>
	    <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/textBoxPropetiresModel.html'">
          
        </div>
	    </div>
	  </div>
	  <!-- END TEXTBOX PROPERTIES WIDGET -->
	</div>
</div>

<div class="card widget_Group animated fadeInDown" ng-switch-when="rating">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>RATING</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setRatingProperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <form class="form-horizontal" role="form">
        <div class="card-body card-padding">
        <div class="form-group" style="margin-bottom:20px;">
          <label class="col-sm-2 control-label">{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> :</label>
            <div class="col-sm-10">
              <div class="fg-line disabled">

                <md-slider-container layout="row">
                  <md-slider flex md-discrete step="1" ng-disabled="true" min="{{field.data.min}}" max="{{field.data.max}}" ng-model="field.data.defaultValue" aria-label="rde" id="red-slider">
                  </md-slider>
                  <md-input-container>
                    <input flex type="number" ng-model="field.data.defaultValue" aria-label="red" aria-controls="red-slider">
                  </md-input-container>
                </md-slider-container>

              </div>
            </div>
        </div>
        </div>
    </form>
    <!-- TEXTBOX PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>TextBox Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/ratingPropertiesModal.html'">
          
        </div>
      </div>
    </div>
    <!-- END TEXTBOX PROPERTIES WIDGET -->
  </div>
</div>
          
<div class="card widget_Group animated fadeInDown" ng-switch-when="checkbox">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>CHECKBOX</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setCheckboxProperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form">
      <div class="card-body card-padding">
      
      <p>{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em></p>

      <div class="form-group" ng-repeat="item in field.data.type.values" class="standard">
          <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                  <label>
                      <input type="checkbox" ng-checked="field.data.defaultValue === item.lable" disabled="{{skeltonWidgetReadonly}}">
                      <i class="input-helper"></i>
                      {{ item.lable }}
                  </label>
              </div>
          </div>
      </div>
      </div>
    </form>
    <!-- CHECKBOX PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>CHECKBOX Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/checkBoxPropertiesModel.html'">
            
        </div>
      </div>
    </div>
    <!-- END CHECKBOX PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="textarea">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>TEXTAREA</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setTextareaProperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding">
    <form class="form-horizontal" role="form">
      <div class="card-body card-padding">
      <!-- <div class="form-group">
        <label class="col-sm-2 control-label">{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> :</label>
          <div class="col-sm-10">
            <div class="fg-line disabled">
            <textarea placeholder='{{field.data.placeHolder}}' ng-model='field.data.defaultValue' disabled="{{skeltonWidgetReadonly}}"></textarea>
            </div>
          </div>
      </div> -->
      <div class="row">
          <div class="form-group">
           <label class="col-sm-3 control-label" for="singleSelect">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></label>
           <div class="col-sm-6">
            <div class="fg-line disabled">
                <textarea class="form-control" rows="3" placeholder='{{field.data.placeHolder}}' ng-model='field.data.defaultValue' disabled="{{skeltonWidgetReadonly}}"></textarea>
            </div>
           </div> 
        </div>
        </div>
      </div>
    </form>
    <!-- TEXTAREA PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>Textarea Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/textAreaPropertiesModel.html'" ></div>
      </div>
    </div>
    <!-- END TEXTAREA PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="select">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>SELECT</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setDropdownProperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <!-- <p class="c-black f-500 m-b-20">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></p>

    <select ng-model="field.data.defaultValue" ng-options="option.value as option.lable for option in field.data.type.values" disabled="{{skeltonWidgetReadonly}}"></select>
 -->
  <div class="row">
    <div class="form-group">
      <label class="col-sm-3 control-label" for="singleSelect">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></label>
      <div class="col-sm-6">
      <div class="fg-line disabled">
          <div class="select">
            <select class="form-control w-100" ng-model="field.data.defaultValue" ng-options="option.value as option.lable for option in field.data.type.values" disabled="{{skeltonWidgetReadonly}}">
              
            </select>
          </div>
      </div>
      </div>
    </div>
  </div>
    <!-- SELECT PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index ">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>DropDown Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/dropdownPropertiesModel.html'"></div>
      </div>
    </div>
    <!-- END SELECT PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="radio">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>RADIO</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setRadioButtonProperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <p class="c-black f-500 m-b-20">{{ field.data.lable }} <em style="color:red" ng-hide="!field.data.required">*</em></p>

    <div class="radio m-b-15" ng-repeat="item in field.data.type.values">
        <label>
            <input type="radio" ng-checked="field.data.defaultValue === item.lable" disabled="{{skeltonWidgetReadonly}}">
            <i class="input-helper"></i>
            {{ item.lable }}
        </label>
    </div>
    <!-- RADIO PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>RADIO Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/radioButtonProperties.html'" >
          
        </div>
      </div>
    </div>
    <!-- END radio PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="camera">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>CAMERA</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setTextboxproperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <!-- CAMERA PROPERTIES WIDGET -->
    <label>{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> : <md-icon>camera_alt</md-icon></label>

    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>Camera Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/CameraPropertiesModel.html'">
        </div>
      </div>
    </div>
    <!-- END CAMERA PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="barcode">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>BARCODE</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setBarcodeproperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <label  >{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> :</label>
    <i class="material-icons">fingerprint</i>

    <!-- BARCODE PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>BARCODE Properties</h2>
      </div>
      <div class="card-body card-padding">
          <div class="row" data-ng-include="'views/barcodePropertiesModel.html'">
            
          </div>
      </div>
    </div>
    <!-- END BARCODE PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="calender">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>{{ field.data.lable }} CALENDER</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setButtonproperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <label>{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> :</label>
    <md-datepicker ng-model="currentDate" md-placeholder="{{field.data.placeHolder}}" disabled="{{skeltonWidgetReadonly}}"></md-datepicker>
    <!-- CALENDER PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>CALENDER Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/calenderPropertiesModel.html'">
          
        </div>
      </div>
    </div>
    <!-- END CALENDER PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="map">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>Map</h2>
      <ul class="actions">
        <li>

          <a href="" ng-click="isCollapsed = !isCollapsed;setMapproperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <form class="form-horizontal" role="form">
        <div class="card-body card-padding">
        <div class="form-group" style="margin-bottom:20px;">
          <label class="col-sm-2 control-label">{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> :</label>
            <div class="col-sm-10">
              <div class="fg-line disabled">
                <img src="images/map.png" class="sign-image"></img>
              </div>
            </div>
        </div>
        </div>
    </form>
    <!-- TEXTBOX PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>Location Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/mapPropertiesModel.html'">
          
        </div>
      </div>
    </div>
    <!-- END TEXTBOX PROPERTIES WIDGET -->
  </div>
</div>
<div class="card widget_Group animated fadeInDown" ng-switch-when="sign">
  <div class="card-header ch-alt">
    <h2><i class="fa fa-dot-circle-o fa-1x"></i>Signature</h2>
      <ul class="actions">
        <li>
          <a href="" ng-click="isCollapsed = !isCollapsed;setSignproperties($index,'section',$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index)">
            <i class="zmdi zmdi-caret-down-circle"></i>
          </a>
        </li>
        <li>
          <a href="" ng-click="deleteWidget($index,$parent.$parent.$parent.$parent.$index,$parent.$parent.$parent.$parent.$parent.$index,'section')"><i class="zmdi zmdi-delete"></i></a>
        </li>
      </ul>
  </div>
  <div class="card-body card-padding" >
    <form class="form-horizontal" role="form">
        <div class="card-body card-padding">
        <div class="form-group" style="margin-bottom:20px;">
          <label class="col-sm-2 control-label">{{ field.data.lable }}<em style="color:red" ng-hide="!field.data.required">*</em> :</label>
            <div class="col-sm-10">
              <div class="fg-line disabled">
                <img src="images/sign.png" class="sign-image"></img>
            </div>
        </div>
        </div>
    </form>
    <!-- sign PROPERTIES WIDGET -->
    <div class="card animated fadeIn" ng-show="$index == widgetSelectedIndex && isWidgetSelected && type === 'section' && formGroupIndex == $parent.$parent.$parent.$parent.$index">
      <div class="card-header bgm-teal ch-alt">
        <h2><i class="fa fa-check-square fa-1x"></i>Signature Properties</h2>
      </div>
      <div class="card-body card-padding">
        <div class="row" data-ng-include="'views/signaturePropertiesModel.html'">
          
        </div>
      </div>
    </div>
    <!-- END sign PROPERTIES WIDGET -->
  </div>
</div>







</div> 