<div class="listview lv-bordered lv-lg">
                <div class="lv-item media">
                    <div class="media-body">
                        <div class="lv-title" ng-click="addWidget('textBox')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> TextBox </div>

                    </div>
                </div>
                <div class="lv-item media">
                    <div class="media-body">
                    <div class="lv-title" ng-click="addWidget('textArea')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> TextArea </div>

                        
                    </div>
                </div>
                <div class="lv-item media">
                    <div class="media-body">
                    <div class="lv-title" ng-click="addWidget('checkbox')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Checkbox </div>

                        
                    </div>
                </div>
                <div class="lv-item media">
                    <div class="media-body">
                    <div class="lv-title" ng-click="addWidget('radio')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> RadioButton </div>

                        
                    </div>
                </div>
                <div class="lv-item media">
                    <div class="media-body">
                    <div class="lv-title" ng-click="addWidget('select')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> select </div>

                        
                    </div>
                </div>
                <div class="lv-item media">
                    <div class="media-body">
                    <div class="lv-title" ng-click="addWidget('section')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Section </div>

                        
                    </div>
                </div>

                <div class="lv-item media">
                    <div class="media-body">
                    <div class="lv-title" ng-click="addWidget('group')"><i class="zmdi zmdi-file-text zmdi-hc-fw"></i> Group </div>

                        
                    </div>
                </div>

           </div>
